@using HelloDoc.Areas.Patient.ViewModels
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model PatientDashboardViewModel;
<div class="container pb-5 mb-5">
    <div class="px-4">
        <div class="d-flex subinfodiv align-items-center py-3">
            <div class="h3 subinfotext fw-bold">Documents</div>
            <div>
                <a asp-controller="Dashboard" asp-action="Dashboard">
                    <button class="d-flex babtn rounded align-item-center p-1 px-2">
                        <div><img src="~/back.png" width="15px" height="10px"></div>
                        <div><span>Back</span></div>
                    </button>
                </a>
            </div>
        </div>
        <div class="bglight rounded p-3 shadow" id="content">
            <form asp-action="AddDocument" asp-controller="Dashboard" method="post" enctype="multipart/form-data">
                <div><span class="small">Patient Name </span></div>
                <div class=""><span class="text-info h4">@Model.User.Firstname @Model.User.Lastname   </span><span class="h6">(@Model.Requests.FirstOrDefault(x => x.Requestid == Model.RequestsId).Confirmationnumber)</span></div>
                @*<div class=""><span class="text-info h4">@Model.User.Firstname @Model.User.Lastname   </span><span class="h6">(@Model.Requests.FirstOrDefault(x => x.Requestid == (Model.Requests.FirstOrDefault(m =>m.Userid == Model.User.Userid).Requestid)).Confirmationnumber)</span></div>*@
                <div class="py-3"><span class="small">Check here for any files that you or the doctores of your subsequents reqestors have attached for you to review</span></div>
                <div class="row d-flex">
                    <div class="py-2 col-12 ">
                        <div class="form-group rounded d-flex align-items-center justify-content-between uploadbtndiv">
                            <div class="px-3 table-responsive">
                                <input type="hidden" asp-for="@Model.showdocument" value="true">
                                <input type="hidden" asp-for="RequestsId" value="@Model.RequestsId" />
                                <input type="file" id="actual-btn" asp-for="Upload" multiple hidden />
                                <label role="button" for="actual-btn" id="file-chosen" class="choosenfile text-dark text-nowrap">No item selected</label>
                            </div>
                            <button type="submit" class="uploadbtn px-2 py-1 d-flex ms-1 border-0">
                                <label role="button" class="d-flex align-items-center"><i class="bi bi-cloud-arrow-up p-2"></i><div>Upload</div></label>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <form asp-action="Download" asp-controller="Dashboard" method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="RequestsId" value="@Model.RequestsId"/>
            <div class="d-flex justify-content-between align-items-center py-3">
                <div class="h4 mb-0 fw-bold">Documents</div>
                <button class="d-flex babtn rounded align-item-center p-1 px-2" type="submit">
                    <div class="plusimg"><i class="bi bi-cloud-arrow-down"></i></div>
                    <div class="cnr"><span>Download All</span></div>
                </button>
            </div>
                <div class="table-responsive">
                    <table class="table table-hover small rounded" id="dtBasicExample">
                        <thead class="thead-dark bg-body-secondary">
                            <tr style="--bs-table-bg: #ebebeb;">
                                <th><input type="checkbox" id="download_@Model.RequestsId" name="downloadmainselect" /></th>
                                <th></th>
                                <th>
                                    Uploader
                                </th>
                                <th>
                                    Upload Date
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var m in Model.requestwisefiles)
                            {
                                <tr>
                                    <td><input type="checkbox" class="childCheckbox" id="download_@m.Requestwisefileid" name="downloadselect" value="@m.Requestwisefileid" /></td>
                                    <td>@m.Filename.Split("\\Documents\\")[1]</td>
                                    <td>@Model.Requests.FirstOrDefault(u => u.Requestid==m.Requestid).Firstname </td>
                                    <td>@m.Createddate.ToString("MMM dd , yyyy")</td>
                                    <td>

                                        <a asp-action="Download" asp-controller="Dashboard" asp-route-id="@m.Requestwisefileid" class="justify-content-start d-flex">

                                            <input type="hidden" asp-for="reqfileid" value="@m.Requestwisefileid" multiple>
                                            <div class="babtn rounded align-item-center p-1 px-2"  style="width : 40px">
                                                <div><i class="bi bi-cloud-arrow-down"></i></div>
                                            </div>
                                        </a>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    //data table initiate
    $(document).ready(function () {
        $('#dtBasicExample').DataTable({
            info: false,
            ordering: true,
            paging: false,
            searching: false,

        });
    });
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    // jQuery script to handle leader checkbox click event
    $(document).ready(function () {
        $('#download_@Model.RequestsId').click(function () {
            $('.childCheckbox').prop('checked', $(this).prop('checked'));
        });

        // Handle individual checkbox clicks to update the leader checkbox state
        $('.childCheckbox').click(function () {
            $('#download_@Model.RequestsId').prop('checked', $('.childCheckbox:checked').length === $('.childCheckbox').length);
        });
    });
</script>