@using System.Globalization;
@model HelloDoc.Areas.Patient.ViewModels.PatientDashboardViewModel;
<div class="container-fluid pb-5 mb-5">
    <div class="px-4">
        <div class="d-flex  align-items-center py-3">
            <div class="h3 mb-0 fw-bold">Medical History </div>
        </div>
        <div class="bg-light rounded p-3 shadow" id="content">
            <div class="d-flex justify-content-end">
                <button class="d-flex babtn rounded align-item-center p-1 px-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    <div class="plusimg"><i class="bi bi-plus-lg"></i></div>
                    <div class="cnr"><span>Create New request</span></div>
                </button>
            </div>
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header bg-info">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Create New Request</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-title px-5 py-3">Here , I want to create new request for..</div>
                        <form asp-action="RequestByPatient" asp-controller="Dashboard" method="post">
                            <input type="hidden" asp-for="User.Userid" value="User.UserId" />
                            <div class="modal-body d-flex justify-content-center">
                                <div class="px-2">
                                    <input type="radio" class="btn-check" name="selectrequesttype" id="success-outlined" autocomplete="off" value="me" checked>
                                    <label class="btn btn-outline-info" for="success-outlined">Me</label>
                                </div>
                                <div class="px-2">
                                    <input type="radio" class="btn-check" name="selectrequesttype" id="danger-outlined" autocomplete="off" value="someone">
                                    <label class="btn btn-outline-info" for="danger-outlined">Some One Else</label>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-info">Continue</button>
                                <button type="button" class="btn border border-1 border-info text-info" data-bs-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover small" id="dtBasicExample">
                    <thead class="thead-dark">
                        <tr>
                            <th>
                                Created Date
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                Document
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var m in Model.Requests)
                        {
                            <tr>
                                <td>@m.Createddate.ToString("MMM dd , yyyy")</td>
                                <td>@Model.Statusname(m.Status)</td>
                                <td>
                                    @if (m.Requestwisefiles.Count() != 0)
                                    {
                                        <form asp-controller="Dashboard" asp-action="Dashboard" method="post">
                                            @{
                                                Model.RequestsId = m.Requestid;
                                            }
                                            <input type="number" asp-for="@Model.RequestsId" hidden>
                                            <input type="hidden" asp-for="@Model.showdocument" value="true">
                                            <button class="d-flex babtn rounded align-item-center p-1 px-2">
                                                <div class="plusimg">(@m.Requestwisefiles.Count()) </div>
                                                <div class="cnr"><span>(@m.Requestwisefiles.Count()) Documnets</span></div>
                                            </button>
                                        </form>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    //data table initiate
    $(document).ready(function () {
        $('#dtBasicExample').DataTable({
            info: false,
            ordering: true,
            paging: false,
            searching: false,

        });
    });


</script>

@*<div class="d-flex justify-content-end">
    <button class="d-flex babtn rounded align-item-center p-1 px-2">
        <div class="plusimg"><i class="bi bi-plus-lg"></i></div>
        <div class="cnr"><span>Create New request</span></div>
    </button>
</div>*@