@using System.Globalization;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutForDashboard";
}
@model HelloDoc.DataModels.User;
@{
    int monthNumber = DateTime.ParseExact("March", "MMMM", CultureInfo.CurrentCulture).Month;
    //var datevalue = Model.Intyear.ToString() + "-" + monthNumber.ToString() + "-" + Model.Intdate.ToString();
}
<header>
    <nav class="navbar navbar-light bg-light shadow rounded px-4">
        <a class="navbar-brand px" asp-controller="Home" asp-action="Index">
            <img src="~/Logo.png" width="sauto" id="logo" alt="">
        </a>
        <div class="navdiv">
            @if (Model != null)
            {
                <span>Welcome , @Html.DisplayFor(model => model.Firstname)</span>
                <a asp-action="PatientLogin" asp-controller="Home">
                <button style="background-color: transparent;" class="border-1 rounded text-info border-info p-2">
                    <div class="logoutimg"><i class=" fa-solid fa-arrow-right-from-bracket "></i></div>
                    <div class="logouttext"><span class="">Log Out</span></div>
                    </button>
                </a>
            }
            
            <button style="background-color: transparent;" class="border-1 rounded p-2 border-info " id="btn1">
                <i class="fa-solid fa-sun fa-xl" id="imgmode"></i>
            </button>
            
        </div>
    </nav>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between px-4">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Dashboard" asp-action="MedicalHistory" asp-route-id="@Model.Userid">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Dashboard" asp-action="UserProfile" asp-route-id="@Model.Userid">Profile</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container-fluid pb-5 mb-5">
    <div class="px-4">
<div class="bglight rounded p-3 shadow" id="content">
    <form>
        
    <div>
        <div class="h5 fw-bold">Patient Information</div>
        <div class="row d-flex">
            <div class="py-2 col-xl-6 col-md-6 col-sm-12 ">
                <div class="form-group d-flex align-items-center rounded">
                        <input type="text" class="form-control" placeholder="" value="@Html.DisplayFor(model => model.Firstname)" required="required"><span>First Name</span>
                </div>
            </div>
            <div class="py-2 col-xl-6 col-md-6 col-sm-12 ">
                <div class="form-group d-flex align-items-center rounded">
                        <input type="text" class="form-control" placeholder="" value="@Html.DisplayFor(model => model.Lastname)" required="required"><span>Last Name</span>
                </div>
            </div>
            <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                <div class="form-group d-flex align-items-center rounded">
                        <input type="date" class="form-control" placeholder="" value="" required="required"><span>Date of Birth</span>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-4">
        <div class="h5 fw-bold">Patient Contact Information</div>
        <div class="row d-flex">
            <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                <div class="telephone rounded">
                    <div class="input-group d-flex align-items-center rounded ">
                            <input type="tel" id="tel" class="form-control" value="@Html.DisplayFor(model => model.Mobile)">
                    </div>
                </div>
            </div>
            <div class="py-2 col-xl-6 col-md-6 col-sm-12 ">
                <div class="form-group d-flex align-items-center rounded">
                        <input type="email" class="form-control" placeholder="" value="@Html.DisplayFor(model => model.Email)" required="required" id="patientEmail"> <span>Email</span>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-4">
        <div class="h5 fw-bold">Patient Location</div>
        <div class="row d-flex">
            <div class="py-2 col-xl-6 col-md-6 col-sm-12 ">
                <div class="form-group d-flex align-items-center rounded">
                        <input type="text" class="form-control" placeholder="" value="@Html.DisplayFor(model => model.Street)" required="required"><span>Street</span>
                </div>
            </div>
            <div class="py-2 col-xl-6 col-md-6 col-sm-12 ">
                <div class="form-group d-flex align-items-center rounded">
                        <input type="text" class="form-control" placeholder="" value="@Html.DisplayFor(model => model.City)" required="required"><span>City</span>
                </div>
            </div>
            <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                <div class="form-group d-flex align-items-center rounded">
                        <input type="text" class="form-control" placeholder="" value="@Html.DisplayFor(model => model.State)" required="required"><span>State</span>
                </div>
            </div>
            <div class="py-2 col-xl-6 col-md-6 col-sm-12 ">
                <div class="form-group d-flex align-items-center rounded">
                        <input type="text" class="form-control" placeholder="" value="@Html.DisplayFor(model => model.Zip)" required="required"><span>Zip Code</span>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="row d-flex justify-content-end">
            <div class="py-2 col-xl-1 col-md-2 col-4 align-items-center">
                <div class="form-group d-flex   border-0">
                    <button class="p-2 babtn rounded w-100">
                        Edit
                    </button>
                </div>
            </div>
        
        </div>
    </div>
    </form>
</div>
</div>
</div>
