@{
    //Layout = null;
}
@using DataModels.AdminSideViewModels
@model AdminProfileViewModel
<div class="container">
    <div>
        <div class="d-flex justify-content-between mx-3">
            <div class="h3 subinfotext fw-bold">My Profile</div>
            @*      <div>
            <a asp-action="AdminTabsLayout" asp-controller="Home">
            <button type="button" class="d-flex babtn rounded align-item-center p-1 px-2">
            <div><img src="~/res/back.png" width="15px" height="10px"></div>
            <div><span>Back</span></div>
            </button>
            </a>
            </div>*@
        </div>
        <div class="bg-light rounded m-3 shadow" id="content">
            <div class="p-3">
                <div class="h5 fw-bold">Account Information</div>
                <form>
                    <div class="d-flex row">
                        <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                            <div class="form-group d-flex align-items-center rounded">
                                <input type="text" class="form-control" placeholder="" asp-for="Username" disabled><span>Username</span>
                            </div>
                        </div>
                        <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                            <div class="form-group d-flex align-items-center rounded">
                                <input type="text" class="form-control" placeholder="" asp-for="Password" id="password" disabled><span>Password</span>
                                <input type="text" class="form-control" placeholder="" value="@Model.Aspnetid" id="aspnetid" hidden>

                            </div>
                            <span class="text-danger spanofvalid" asp-validation-for="Password"></span>
                        </div>
                        <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                            <div class="form-group d-flex align-items-center rounded">
                                <select class="form-select" disabled>
                                    <option>Active</option>
                                </select>
                                <span class="selectedselectspan">Status</span>
                            </div>
                        </div>
                        <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                            <div class="form-group d-flex align-items-center rounded">
                                <select class="form-select" disabled>
                                    <option>Master Admin</option>
                                </select>
                                <span class="selectedselectspan">Role</span>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="d-flex justify-content-end py-4" id="passsaveandcancle">
                    <button type="button" class="btn border-info text-info shadow-none" id="resetpassword">Reset Password</button>
                </div>

                <div class="h5 fw-bold">Administrator Information</div>
                <form asp-action="AdminInfoEdit" asp-controller="AdminProfile" method="post">
                    <input type="text" class="form-control" placeholder="" asp-for="Adminid" value="@Model.Adminid" id="adminid" hidden>
                    <div class="row d-flex">
                        <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                            <div class="form-group d-flex align-items-center rounded">
                                <input type="text" class="form-control adminedit " id="admineditfirstname" placeholder="" asp-for="FirstName" disabled><span>First Name</span>
                            </div>
                            <span class="text-danger" asp-validation-for="FirstName"></span>
                        </div>
                        <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                            <div class="form-group d-flex align-items-center rounded">
                                <input type="text" class="form-control adminedit  " id="admineditlastname" placeholder="" asp-for="LastName" disabled><span>Last Name</span>
                            </div>
                            <span class="text-danger" asp-validation-for="LastName"></span>
                        </div>
                        <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                            <div class="form-group d-flex align-items-center rounded">
                                <input type="email" class="form-control  adminedit  " id="admineditemail" placeholder="" asp-for="Email" disabled>
                                <span>Email</span>
                            </div>
                            <span class="text-danger" asp-validation-for="Email"></span>
                        </div>
                        <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                            <div class="form-group d-flex align-items-center rounded">
                                <input type="email" class="form-control adminedit  " id="admineditconfirmemail" value="@Model.Email" asp-for="ConfirmEmail" disabled>
                                <span>Confirm Email</span>
                            </div>
                            <span class="text-danger" asp-validation-for="ConfirmEmail"></span>
                        </div>
                        <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                            <div class="telephone rounded">
                                <div class="input-group d-flex align-items-center rounded ">
                                    <input type="tel" class="form-control adminedit " id="admineditmobile" asp-for="Mobile" disabled>
                                </div>
                            </div>
                            <span class="text-danger" asp-validation-for="Mobile"></span>
                        </div>
                        <div class="py-2 col-xl-6 col-md-6 col-sm-12 d-flex justify-content-between align-items-center flex-wrap">
                            @foreach (var item in Model.State)
                            {
                                <div class="form-check form-check-inline ">
                                    @if (Model.SelectRegion == null)
                                    {
                                        <input type="checkbox" name="admineditregion" id="region_@item.Regionid" value="@item.Regionid" disabled />
                                    }
                                    else if (Model.SelectRegion.Contains(item.Regionid.ToString()))
                                    {
                                        <input type="checkbox" class="form-check-input" name="admineditregion" id="region_@item.Regionid" value="@item.Regionid" checked disabled />
                                    }
                                    else
                                    {
                                        <input type="checkbox" class="form-check-input" name="admineditregion" id="region_@item.Regionid" value="@item.Regionid" disabled />
                                    }                                    <label for="region_@item.Regionid">@item.Name</label>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="d-flex justify-content-end gap-2 p-3 " id="adminsaveandcancel">
                        <button type="button" class=" p-2 px-3 text-white bg-info rounded border-info  mx-2 px-3 shadow-none" id="adminEdit_Save">Edit</button>
                    </div>
                </form>
                <div class="h5 fw-bold">Mailing & Billing Information</div>
                <form asp-action="AdminBillingInfoEdit" asp-controller="AdminProfile" method="post">
                    <input type="text" class="form-control" placeholder="" asp-for="Adminid" value="@Model.Adminid" id="adminid" hidden>
                    <div class="row d-flex">
                        <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                            <div class="form-group d-flex align-items-center rounded">
                                <input type="text" class="form-control addressedit" id="addresseditAddress1" placeholder="" asp-for="Address1" disabled><span>Address1</span>
                            </div>
                            <span class="text-danger" asp-validation-for="Address1"></span>
                        </div>
                        <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                            <div class="form-group d-flex align-items-center rounded">
                                <input type="text" class="form-control addressedit" id="addresseditAddress2" placeholder="" asp-for="Address2" disabled><span>Address2</span>
                            </div>
                            <span class="text-danger" asp-validation-for="Address2"></span>
                        </div>
                        <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                            <div class="form-group d-flex align-items-center rounded">
                                <input type="text" class="form-control addressedit" id="addresseditCity" placeholder="" asp-for="City" disabled><span>City</span>
                            </div>
                            <span class="text-danger" asp-validation-for="City"></span>
                        </div>
                        <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                            <div class="form-group d-flex align-items-center rounded">
                                <select class="form-select addressedit" id="state" asp-for="Region" disabled>
                                    @foreach (var item in Model.State)
                                    {
                                        <option value="@item.Regionid">@item.Name</option>
                                    }
                                </select>
                                <span class="selectedselectspan">State</span>
                            </div>
                        </div>
                        <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                            <div class="form-group d-flex align-items-center rounded">
                                <input type="text" class="form-control addressedit" id="addresseditZip" placeholder="" asp-for="Zip" disabled><span>Zip</span>
                            </div>
                            <span class="text-danger" asp-validation-for="Zip"></span>
                        </div>
                        <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                            <div class="telephone rounded">
                                <div class="input-group d-flex align-items-center rounded ">
                                    <input type="tel" class="form-control  addressedit" id="addresseditBillMobile" asp-for="BillMobile" disabled>
                                </div>
                            </div>
                            <span class="text-danger" asp-validation-for="BillMobile"></span>
                        </div>
                        <div class="d-flex justify-content-end gap-2 p-3" id="addresssaveandcancel">
                            <button type="button" class=" p-2 px-3 text-white bg-info rounded border-info  mx-2 px-3 shadow-none" id="addressEdit_Save">Edit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $('#state').val(@Model.Region);

</script>
<script>
    localStorage.setItem('target', "#nav-Profile");
    var target = localStorage.getItem('target');
    $('.maintabs').removeClass('active');
    $('.accordianmaintabs').removeClass('active');
    $('.maintabs[data-bs-target="' + target + '"]').addClass('active');
    $('.accordianmaintabs[data-bs-target="' + target + '"]').addClass('active');
    $('.spanofvalid').bind("DOMSubtreeModified", function () {
        if ($(this).text().trim() !== '') {
            $(this).parents('.py-2').addClass('error');
        } else {
            $(this).parents('.py-2').removeClass('error');
        }
    });
</script>
<script src="~/js/AdminProfile.js" asp-append-version="true"></script>