@{
    Layout = "_SchedulerLayout";
}

@using DataModels.AdminSideViewModels
@model SchedulingDataViewModel


<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid #dee2e6;
        padding: 8px;
        text-align: left;
    }

    .events {
        padding: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-size: small;
    }
</style>
<div class="table-responsive bg-light shadow" id="content">
    <table class="w-100 border-1">
        <thead style="background: rgb(145 145 145) ; color : white !important">
            <tr>
                <th style="width : 28%; text-align : center">STAFF</th>
                <th style="width : 3%">12A</th>
                <th style="width : 3%">1A</th>
                <th style="width : 3%">2A</th>
                <th style="width : 3%">3A</th>
                <th style="width : 3%">4A</th>
                <th style="width : 3%">5A</th>
                <th style="width : 3%">6A</th>
                <th style="width : 3%">7A</th>
                <th style="width : 3%">8A</th>
                <th style="width : 3%">9A</th>
                <th style="width : 3%">10A</th>
                <th style="width : 3%">11A</th>
                <th style="width : 3%">12P</th>
                <th style="width : 3%">1P</th>
                <th style="width : 3%">2P</th>
                <th style="width : 3%">3P</th>
                <th style="width : 3%">4P</th>
                <th style="width : 3%">5P</th>
                <th style="width : 3%">6P</th>
                <th style="width : 3%">7P</th>
                <th style="width : 3%">8P</th>
                <th style="width : 3%">9P</th>
                <th style="width : 3%">10P</th>
                <th style="width : 3%">11P</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th style="width : 28%; text-align : center">Coverage</th>
                <th style="width : 3% ; background : #efabd2"></th>
                <th style="width : 3% ; background : #efabd2"></th>
                <th style="width : 3% ; background : #efabd2"></th>
                <th style="width : 3% ; background : #efabd2"></th>
                <th style="width : 3% ; background : #efabd2"></th>
                <th style="width : 3% ; background : #efabd2"></th>
                <th style="width : 3% ; background : #efabd2"></th>
                <th style="width : 3% ; background : #efabd2"></th>
                <th style="width : 3% ; background : #efabd2"></th>
                <th style="width : 3% ; background : #efabd2"></th>
                <th style="width : 3% ; background : #efabd2"></th>
                <th style="width : 3% ; background : #efabd2"></th>
                <th style="width : 3% ; background : #efabd2"></th>
                <th style="width : 3% ; background : #efabd2"></th>
                <th style="width : 3% ; background : #efabd2"></th>
                <th style="width : 3% ; background : #efabd2"></th>
                <th style="width : 3% ; background : #efabd2"></th>
                <th style="width : 3% ; background : #efabd2"></th>
                <th style="width : 3% ; background : #efabd2"></th>
                <th style="width : 3% ; background : #efabd2"></th>
                <th style="width : 3% ; background : #efabd2"></th>
                <th style="width : 3% ; background : #efabd2"></th>
                <th style="width : 3% ; background : #efabd2"></th>
                <th style="width : 3% ; background : #efabd2"></th>
            </tr>
            @foreach (var item in Model.physicianDatas)
            {
                <tr>
                    <td>
                        <img src="@item.Photo" width="10%">
                        @item.Physicianname
                    </td>
                    <td id="0_@item.Physicianid" class="time physician_@item.Physicianid"></td>
                    <td id="1_@item.Physicianid" class="time physician_@item.Physicianid"></td>
                    <td id="2_@item.Physicianid" class="time physician_@item.Physicianid"></td>
                    <td id="3_@item.Physicianid" class="time physician_@item.Physicianid"></td>
                    <td id="4_@item.Physicianid" class="time physician_@item.Physicianid"></td>
                    <td id="5_@item.Physicianid" class="time physician_@item.Physicianid"></td>
                    <td id="6_@item.Physicianid" class="time physician_@item.Physicianid"></td>
                    <td id="7_@item.Physicianid" class="time physician_@item.Physicianid"></td>
                    <td id="8_@item.Physicianid" class="time physician_@item.Physicianid"></td>
                    <td id="9_@item.Physicianid" class="time physician_@item.Physicianid"></td>
                    <td id="10_@item.Physicianid" class="time physician_@item.Physicianid"></td>
                    <td id="11_@item.Physicianid" class="time physician_@item.Physicianid"></td>
                    <td id="12_@item.Physicianid" class="time physician_@item.Physicianid"></td>
                    <td id="13_@item.Physicianid" class="time physician_@item.Physicianid"></td>
                    <td id="14_@item.Physicianid" class="time physician_@item.Physicianid"></td>
                    <td id="15_@item.Physicianid" class="time physician_@item.Physicianid"></td>
                    <td id="16_@item.Physicianid" class="time physician_@item.Physicianid"></td>
                    <td id="17_@item.Physicianid" class="time physician_@item.Physicianid"></td>
                    <td id="18_@item.Physicianid" class="time physician_@item.Physicianid"></td>
                    <td id="19_@item.Physicianid" class="time physician_@item.Physicianid"></td>
                    <td id="20_@item.Physicianid" class="time physician_@item.Physicianid"></td>
                    <td id="21_@item.Physicianid" class="time physician_@item.Physicianid"></td>
                    <td id="22_@item.Physicianid" class="time physician_@item.Physicianid"></td>
                    <td id="23_@item.Physicianid" class="time physician_@item.Physicianid"></td>
                    @*@foreach (var shift in Model.Shifts.Where(s => s.Physicianid == item.Physicianid))
                {
                <td class="time physician_@item.Physicianname">
                @shift.StartTime.ToString("hh:mm tt") - @shift.EndTime.ToString("hh:mm tt")
                </td>

                }*@
                </tr>
            }
        </tbody>
    </table>
</div>

@foreach (var item in Model.physicianDatas)
{
    @foreach (var shift in Model.Shifts.Where(s => s.Physicianid == item.Physicianid))
    {
        <script>
            var starthr = @shift.StartTime.ToString("HH");
            var endhr = @shift.EndTime.ToString("HH");
            var diff = (parseInt(endhr) - parseInt(starthr))
            if (@shift.EndTime.Minute > 0) {
                diff = diff + 1;
                endhr = endhr + 1;
            }
            var phy = @item.Physicianid;
            var str = "#" + starthr + "_" + phy;
            var str1 = "#" + endhr + "_" + phy;
            $(str).attr('colspan', diff);
            for (var i = starthr + 1; i < endhr; i++) {
                var tdtosdelete = "#" + i + "_" + phy;
                console.log(tdtosdelete);
                $(tdtosdelete).remove();
            }
            var color = "";
            if (@shift.Status == 1) {
                color = "#ffd4ed";
            }
            if (@shift.Status == 2) {
                color = "#cee9cd";
            }
            var pl = 0;
            var pr = 0;
            if (@shift.StartTime.Minute > 0) {
                pl = (10 * @shift.StartTime.Minute);
                pl = pl / 6;
                pl = pl / diff;
            }
            if (@shift.EndTime.Minute > 0) {
                pr = (10 * (60 - @shift.EndTime.Minute));
                pr = pr / 6;
                pr = pr / diff;
            }
            $(str).css("padding", "0px")
            $(str).html('<div class="events  text-dark" id="event_@shift.ShiftId" data-id="@shift.ShiftId" data-url="DayWiseData">@shift.StartTime.ToString("hh:mm tt") - @shift.EndTime.ToString("hh:mm tt")</div>');
            $('#event_@shift.ShiftId').css("background-color", color);
            $('#event_@shift.ShiftId').css("margin-left", pl + "%");
            $('#event_@shift.ShiftId').css("margin-right", pr + "%");
        </script>
    }
}

<script src="~/js/Events.js" asp-append-version="true"></script>
