@{
    Layout = "_SchedulerLayout";
}

@using DataModels.AdminSideViewModels
@model SchedulingDataViewModel
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid #dee2e6;
        padding: 8px;
        text-align: left;
    }

    .events {
        padding: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-size: small;
        margin: 1px
    }
</style>
@{
    var firstday = Model.Monthdate;
    var days = (int)firstday.DayOfWeek;
    int daysInMonth = DateTime.DaysInMonth(firstday.Year, firstday.Month);
}
<div>
    <table class="w-100 border-1">
        <thead style="background: rgb(145 145 145) ; color : white !important ; text-align : center">
            <tr>
                <th style="width : 14.28%; text-align : center">SUN</th>  
                <th style="width : 14.28%; text-align : center">MON</th>
                <th style="width : 14.28%; text-align : center">TUE</th>
                <th style="width : 14.28%; text-align : center">WED</th>
                <th style="width : 14.28%; text-align : center">THU</th>
                <th style="width : 14.28%; text-align : center">FRI</th>
                <th style="width : 14.28%; text-align : center">SAT</th>
            </tr>
        </thead>
        <tbody>
            @*<tr>
                <td colspan=@days></td>
                @for (int day= 1; day <= daysInMonth; day++)
                {
                    <td  style=" background : #efabd2;text-align : center">@day</td>
                    if ((day + (int)firstday.DayOfWeek) % 7 == 0)
                    {
                        @:</tr><tr>
                    }
                }
            </tr>*@
            @{
                int day = 1;
            }
            @while (day <= daysInMonth-7)
            {
                @if(day == 1)
                {
                    <tr>
                        <td colspan="@days"></td>
                        @for (int curr = 1; curr <= 7 - days; curr++)
                        {
                            <td  style=" background : #efabd2;text-align : center">@day</td>
                            day = curr;
                        }
                    </tr>
                }
                else
                {
                    <tr>
                        @for(int curr = 1; curr <= 7; curr++)
                        {
                            <td  style=" background : #efabd2;text-align : center">@day</td>
                            day++;
                        }
                    </tr>
                }
            }
            <tr>
               @while (day <= daysInMonth)
                {
                    <td style=" background : #efabd2;text-align : center">@day</td>
                    day++;
                }
            </tr>
        </tbody>
    </table>
</div>
