@{
    Layout = "_SchedulerLayout";
}

@using DataModels.AdminSideViewModels
@model SchedulingDataViewModel
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid #dee2e6;
        padding: 8px;
        text-align: left;
    }

    .events {
        padding: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-size: small;
        margin: 1px
    }
</style>
<div class="table-responsive bg-light shadow" id="content">
    <table class="w-100 border-1">
        <thead style="background: rgb(145 145 145) ; color : white !important ; text-align : center">
            <tr>
                <th style="width : 14.28%; text-align : center">SUN</th>
                <th style="width : 14.28%; text-align : center">MON</th>
                <th style="width : 14.28%; text-align : center">TUE</th>
                <th style="width : 14.28%; text-align : center">WED</th>
                <th style="width : 14.28%; text-align : center">THU</th>
                <th style="width : 14.28%; text-align : center">FRI</th>
                <th style="width : 14.28%; text-align : center">SAT</th>
            </tr>
        </thead>
        <tbody>
            @{
                var firstdate = Model.firstMonthdate;
                var daysleft = (int)firstdate.DayOfWeek;
                int daysInMonth = DateTime.DaysInMonth(firstdate.Year, firstdate.Month);
                int day = 1;
                int flag = 1;
                int tempt = day;
            }
            @while (day <= daysInMonth - 7)
            {
                @if (flag == 1)
                {
                    <tr>
                        @if (daysleft != 0)
                        {
                            <td colspan="@daysleft"></td>
                        }
                        @for (int curr = 1; curr <= 7 - daysleft; curr++)
                        {
                            <td style=" background : #efabd2;text-align : center ; color:white">@day</td>
                            day++;
                        }
                    </tr>
                    tempt = 1;
                    <tr>
                        @if (daysleft != 0)
                        {
                            <td colspan="@daysleft"></td>
                        }
                        @for (int curr = 1; curr <= 7 - daysleft; curr++)
                        {
                            <td id="1_@tempt"><div style="min-height:5px"></div></td>
                            tempt++;
                        }
                    </tr>
                    tempt = 1;
                    <tr>
                        @if (daysleft != 0)
                        {
                            <td colspan="@daysleft"></td>
                        }
                        @for (int curr = 1; curr <= 7 - daysleft; curr++)
                        {
                            <td id="2_@tempt" class="datafield" style="vertical-align : top"></td>
                            tempt++;
                        }
                    </tr>
                    tempt = 1;
                    <tr>
                        @if (daysleft != 0)
                        {
                            <td colspan="@daysleft"></td>
                        }
                        @for (int curr = 1; curr <= 7 - daysleft; curr++)
                        {
                            <td id="3_@tempt"><div style="min-height:25px ;opacity:0.75" class="d-flex justify-content-center rounded-3 LoadMore d-none bg-info" id="next_@tempt">Load More</div></td>
                            tempt++;
                        }
                    </tr>

                    flag = 2;
                }
                else
                {
                    tempt = day;
                    var tempt2 = tempt;
                    <tr>
                        @for (int curr = 1; curr <= 7; curr++)
                        {
                            <td style=" background : #efabd2;text-align : center ; color:white">@day</td>
                            day++;
                        }
                    </tr>
                    <tr>
                        @for (int curr = 1; curr <= 7; curr++)
                        {
                            <td id="1_@tempt"><div style="min-height:5px"></div></td>
                            tempt++;
                        }
                    </tr>
                    tempt = tempt2;
                    <tr>
                        @for (int curr = 1; curr <= 7; curr++)
                        {
                            <td id="2_@tempt" class="datafield" style="vertical-align : top"></td>
                            tempt++;
                        }
                    </tr>
                    tempt = tempt2;
                    <tr>
                        @for (int curr = 1; curr <= 7; curr++)
                        {
                            <td id="3_@tempt"><div style="min-height:25px ;opacity:0.75" class="d-flex justify-content-center rounded-3 LoadMore d-none bg-info" id="next_@tempt">Load More</div></td>
                            tempt++;
                        }
                    </tr>
                }
            }
            @{
                tempt = day;
            }
            <tr>
                @while (day <= daysInMonth)
                {
                    <td style=" background : #efabd2;text-align : center ; color:white">@day</td>
                    day++;
                }
            </tr>
            @{
                var tempt1 = tempt;
            }
            <tr>
                @while (tempt1 <= daysInMonth)
                {
                    <td id="1_@tempt1"><div style="min-height:5px"></div></td>
                    tempt1++;
                }
            </tr>
            @{
                tempt1 = tempt;
            }
            <tr>
                @while (tempt1 <= daysInMonth)
                {
                    <td id="2_@tempt1" class="datafield" style="vertical-align : top"></td>
                    tempt1++;
                }
            </tr>
            @{
                tempt1 = tempt;
            }
            <tr>
                @while (tempt1 <= daysInMonth)
                {
                    <td id="3_@tempt1"><div style="min-height:25px ;opacity:0.75" class="d-flex justify-content-center rounded-3 LoadMore d-none bg-info" id="next_@tempt">Load More</div></td>
                    tempt1++;
                }
            </tr>
        </tbody>
    </table>
</div>
@*@foreach (var shift in Model.Shifts)
{
    <script>
        var shiftdate = @shift.StartTime.ToString("dd");
        var timeslot = "2_" + shiftdate;
        var color = "";
        if (@shift.Status == 1) {
            color = "#ffd4ed";
        }
        if (@shift.Status == 2) {
            color = "#cee9cd";
        }
        $('#' + timeslot).css("padding", "0px")
        $('#' + timeslot).append('<div class="events  text-dark" id="event_@shift.ShiftId" data-id="@shift.ShiftId" data-url="MonthWiseData"> @Model.physicianDatas.FirstOrDefault(x=>x.Physicianid==shift.Physicianid).Physicianname <br> @shift.StartTime.ToString("hh:mm tt") - @shift.EndTime.ToString("hh:mm tt")</div>');
        $('#event_@shift.ShiftId').css("background-color", color);
    </script>
}*@

@for (var date = Model.firstMonthdate; date <= Model.lastMonthdate; date = date.AddDays(1))
{
    <script>
        var date = "@date.ToString("MM dd yyyy")";
        var datetoshow = new Date(date);
        var timezoneOffset = datetoshow.getTimezoneOffset();
        datetoshow.setMinutes(datetoshow.getMinutes() - timezoneOffset);
        datetoshow = datetoshow.toISOString();
        var status = localStorage.getItem('status') || 0;
        var region = localStorage.getItem('region') || 0;
        var pagesize = 3;
        var next = 1;
        var d = @date.Day;
        var timeslot = "2_" + d;
        var shifts = [];
        getdata(datetoshow, 1, timeslot , status);
        function getdata(datetoshow, next, timeslot , status) {
            $.ajax({
                url: '/AdminArea/AdminProviderTab/DateWiseData',
                data: { datetoshow, region, status, next, pagesize },
                type: 'POST',
                async: false,
                success: function (data) {
                    shifts = data.shifts;
                }
            });
            var showby = "DayWiseData";
            var totalcount;
            $.ajax({
                url: '/AdminArea/AdminProviderTab/ShiftCountbyFilter',
                data: { datetoshow, region, showby, status },
                type: 'POST',
                async: false,
                success: function (data) {
                    totalcount = data;
                }
            }); if (totalcount > 3) {
                $('#next_' + d).removeClass('d-none');
            }

            $.each(shifts, function (index, shift) {
                var startTime = new Date(shift.startTime);
                var endTime = new Date(shift.endTime);
                var time = formater(startTime, endTime)
                var color = "";
                if (shift.status == 1) {
                    color = "#ffd4ed";
                }
                if (shift.status == 2) {
                    color = "#cee9cd";
                }
                $('#' + timeslot).css("padding", "0px")
                $('#' + timeslot).append('<div class="events  text-dark" id="event_' + shift.shiftId + '" data-id="' + shift.shiftId + '" data-url="MonthWiseData">' + shift.physicianname + '<br>' + time + '</div>');
                $('#event_' + shift.shiftId).css("background-color", color);
            });
        }


        function formater(startTime, endTime) {
            var startHours = startTime.getHours();
            var startMinutes = startTime.getMinutes();
            var endHours = endTime.getHours();
            var endMinutes = endTime.getMinutes();
            var startPeriod = startHours < 12 ? 'AM' : 'PM';
            var endPeriod = endHours < 12 ? 'AM' : 'PM';
            startHours = startHours % 12 || 12; // convert 0 to 12
            endHours = endHours % 12 || 12; // convert 0 to 12
            startMinutes = startMinutes < 10 ? '0' + startMinutes : startMinutes;
            endMinutes = endMinutes < 10 ? '0' + endMinutes : endMinutes;

            var formattedstartTime = startHours + ':' + startMinutes + ' ' + startPeriod;
            var formattedendTime = endHours + ':' + endMinutes + ' ' + endPeriod;
            var time = formattedstartTime + ' - ' + formattedendTime
            return time;
        }
    </script>
}
<script>
    $('.LoadMore').on('click', function () {
        var id = $(this).attr('id');
        var parse = id.split('_');
        var dateparse = date.split(' ')
        var stringdate = dateparse[0] + ' ' + parse[1] + ' ' + dateparse[2];
        var datetoshow = new Date(stringdate);
        var timezoneOffset = datetoshow.getTimezoneOffset();
        datetoshow.setMinutes(datetoshow.getMinutes() - timezoneOffset);
        datetoshow = datetoshow.toISOString();
        var timeslot = "2_" + parse[1];
        if ($(this).text() == "Load More") {
            $(this).text("Less");
            getdata(datetoshow, 0, timeslot , status);
        }
        else {
            $(this).text("Load More");
            $('#' + timeslot).html('');
            getdata(datetoshow, 1, timeslot , status);
        }
    });
</script>

@*
<script>
    var next = 1;
    var dateObj = new Date("@firstdate.Year", "@firstdate.Month", 1);
    var region = $('.drawbyregiondropdown').val();
    var status = $('input[name="shiftstatus"]:checked').val();
    $('.LoadMore').on('click', function () {
        var str = $(this).attr('id');
        var parse = str.split('_');
        var date = parse[1];
        var year = "@firstdate.Year";
        var month = "@firstdate.Month";
        dateObj = new Date(year, month - 1, date);
        console.log(dateObj);
        loadshiftdata(dateObj, next);
    });


    loadshiftdata(dateObj, 0);

    function loadshiftdata(date, next) {
        console.log(next)
        console.log(dateObj)
        console.log(region)
        console.log(status)
        //$.ajax({
        //    url: '/AdminArea/AdminProviderTab/GetNextShiftsOfDate',
        //    date: { date: date, next: next },
        //    type: 'POST',
        //    success: function (data) {
        //        $.each(data, function (index, shift) {

        //        });
        //    },
        //});
    }
</script>*@
<script src="~/js/Events.js" asp-append-version="true"></script>
@if (TempData["Message"] != null)
{
    <script>
        Swal.fire({
            position: "top-end",
            icon: "success",
            title: "@TempData["Message"]",
            showConfirmButton: false,
            timer: 1000
        });
    </script>
}