@using DataModels.AdminSideViewModels
@model ShiftData

<div class="modal fade" id="ModalToOpen" tabindex="-1" role="dialog" aria-labelledby="BlockCaseTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-white">View Shift</h5>
                <button type="button" class="btn closeModel" data-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-xmark text-white"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group d-flex align-items-center rounded my-3">
                    <select class="form-select addressedit drawbyregiondrop" asp-for="Location" disabled>
                    </select>
                    <span class="selectedselectspan">Region</span>
                </div>
                <div class="form-group d-flex align-items-center rounded my-3">
                    <select class="form-select shadow-none drawphysicianforshift" asp-for="Physicianid" disabled>
                        @if(Model.loggedrole == "Physician")
                        {
                            <option value="@Model.Physicianid">@Model.Physicianname</option>
                        }
                    </select>
                    <span class="selectedselectspan">Physician</span>
                </div>
                <form>
                    <div class="form-group d-flex align-items-center rounded my-3">
                        @{
                            string today = DateTime.Today.ToString("yyyy-MM-dd");
                            string shiftdatafromdb = Model.Shiftdate.ToString("yyyy-MM-dd");
                        }
                        <input type="date" class="form-control timeedit" placeholder="" min=@today id="shiftdate" value=@shiftdatafromdb asp-for="Shiftdate" disabled><span>Shift Date</span>
                    </div>
                    <div class="d-flex row my-3">
                        <div class="col-xl-6 col-md-6 col-sm-12">
                            <div class="form-group d-flex align-items-center rounded">
                                <input id="startTime" type="time" class="form-control timeedit" placeholder="" asp-for="StartTime" disabled><span>Start</span>
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-6 col-sm-12">
                            <div class="form-group d-flex align-items-center rounded">
                                <input id="endTime" type="time" class="form-control timeedit" placeholder="" asp-for="EndTime" disabled><span>end</span>
                            </div>
                        </div>
                    </div>
                    @if (Model.loggedrole == "Admin")
                    {
                        <div class="d-flex my-3 justify-content-end gap-2 shiftfunction">
                            <button type="button" id="ViewShiftReturnBtn" class="p-2 px-3 text-white bg-info rounded border-info  mx-1 shadow-none" data-id="@Model.ShiftId">Return</button>
                            <button type="button" id="ViewShiftEdit_SaveBtn" class="p-2 px-3 text-white bg-info rounded border-info  mx-1 shadow-none" data-id="@Model.ShiftId">Edit</button>
                            <button type="button" id="ViewShiftDeleteBtn" class="p-2 px-3 text-white bg-danger rounded border-danger  mx-1 shadow-none" data-id="@Model.ShiftId">Delete</button>
                        </div>
                    }
                </form>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
    $.ajax({
        url: '/AdminArea/Dashboard/GetRegion',
        success: function (data) {
            var drawbyregiondrop = $('.drawbyregiondrop');
            $.each(data, function (index, regions) {
                drawbyregiondrop.append($('<option>', {
                    value: regions.regionid,
                    text: regions.name
                }))
            });
            $('.drawbyregiondrop').val(@Model.Location)
        }
    });

    $(document).ready(function () {
        $('#ModalToOpen').draggable({
            handle: ".modal-dialog"
        });
    });

    var format = "@Model.format";
    console.log(format);
    var status = localStorage.getItem('status') || 0;
    var region = localStorage.getItem('region') || 0;

    $('#ViewShiftDeleteBtn').on('click', function () {
        var shiftdetailid = $(this).data('id');
        $.ajax({
            url: '/AdminArea/AdminProviderTab/DeleteShift',
            data: { shiftdetailid, format, status, region },
            type: 'POST',
            success: function (response) {
                $('#timewisedata').html(response);
                Swal.fire({
                    position: "top-end",
                    icon: "success",
                    title: "Shift Deleted",
                    showConfirmButton: false,
                    timer: 1000
                });
                $('.closeModel').trigger('click');
            }
        });
    });

    $('#ViewShiftReturnBtn').on('click', function () {
        console.log("clicked");
        var shiftdetailid = $(this).data('id');
        console.log(shiftdetailid)
        $.ajax({
            url: '/AdminArea/AdminProviderTab/RetuenShift',
            data: { shiftdetailid, format, status, region },
            type: 'POST',
            success: function (response) {
                $('#timewisedata').html(response);
                Swal.fire({
                    position: "top-end",
                    icon: "success",
                    title: "Shift Returned",
                    showConfirmButton: false,
                    timer: 1000
                });
                $('.closeModel').trigger('click');
            }
        });
    });

    $('#startTime, #endTime').on('change', function () {
        var startTime = $('#startTime').val();
        var endTime = $('#endTime').val();

        if (startTime && endTime) {
            if (startTime > endTime) {
                Swal.fire('End time cannot be earlier than start time');
                $('#endTime').val('');
            }
            var parts1 = startTime.split(':');
            var parts2 = endTime.split(':')
            var st = (parseInt(parts1[0]) * 60) + parseInt(parts1[1]);
            var et = (parseInt(parts2[0]) * 60) + parseInt(parts2[1]);
            if ((et - st) < 120) {
                Swal.fire('Shift must be atleast 2 hrs Long');
                $('#endTime').val('');
            }
        }
    });

    $('#ViewShiftEdit_SaveBtn').on('click', function () {
        if ($(this).text() == "Edit") {
            $(this).text("Save");
            $('.timeedit').removeAttr("disabled");
            $(this).after('<button type="reset" class="p-2 px-3 rounded btn border-info text-info shadow-none" id="shifteditcancel"> Cancel </button>');
        }
        else {
            var shiftdetailid = $(this).data('id');
            var shiftdate = $('#shiftdate').val();
            var startTime = $('#startTime').val();
            var endTime = $('#endTime').val();
            console.log(shiftdetailid);
            console.log(shiftdate);
            console.log(startTime);
            console.log(endTime);
            $.ajax({
                url: '/AdminArea/AdminProviderTab/EditShift',
                data: { shiftdetailid, shiftdate, startTime, endTime, format, region, status },
                type: 'POST',
                success: function (response) {
                    $('#timewisedata').html(response);
                    Swal.fire({
                        position: "top-end",
                        icon: "success",
                        title: "Shift Edited",
                        showConfirmButton: false,
                        timer: 1000
                    });
                    $('.closeModel').trigger('click');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    Swal.fire({
                        position: "top-end",
                        icon: "success",
                        title: jqXHR.responseText,
                        showConfirmButton: false,
                        timer: 1000
                    });
                    $('.closeModel').trigger('click');
                }
            });
        }
    });


    $(document).on('click', '#shifteditcancel', function () {
        $('.timeedit').prop('disabled', true);
        $('#ViewShiftEdit_SaveBtn').text("Edit");
        $(this).css('display', 'none');
    });

</script>

@if (Model.loggedrole == "Admin"){
    <script>
        $.ajax({
            url: '/AdminArea/Dashboard/GetPhysicianByRegion',
            type: 'POST',
            data: { regionid: 0 },
            success: function (data) {
                var physiciandropdown = $('.drawphysicianforshift');
                physiciandropdown.empty();
                physiciandropdown.append($('<option>', {
                    hidden: "hidden",
                    value: "invalid",
                    text: "Select Physician"
                }))
                if (data.length == 0) {
                    physiciandropdown.append($('<option>', {
                        value: "invalid",
                        disabled: "disabled",
                        text: "No Physician in this area",
                        style: "color : red"
                    }))
                }
                else {
                    $.each(data, function (index, phy) {
                        physiciandropdown.append($('<option>', {
                            value: phy.physicianid,
                            text: phy.firstname + " " + phy.lastname
                        }))
                    });
                }
                $('.drawphysicianforshift').val(@Model.Physicianid)
            }
        });
    </script>
}