@using DataModels.AdminSideViewModels
@model ShiftData

<div class="modal fade" id="ModalToOpen" tabindex="-1" role="dialog" aria-labelledby="BlockCaseTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-white">View Shift</h5>
                <button type="button" class="btn closeModel" data-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-xmark text-white"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group d-flex align-items-center rounded my-3">
                    <select class="form-select addressedit drawbyregiondrop" asp-for="Location" disabled>
                    </select>
                    <span class="selectedselectspan">Region</span>
                </div>
                <div class="form-group d-flex align-items-center rounded my-3">
                    <select class="form-select shadow-none drawphysicianforshift" asp-for="Physicianid" disabled>
                    </select>
                    <span class="selectedselectspan">Physician</span>
                </div>
                <div class="form-group d-flex align-items-center rounded my-3">
                    @{
                        string today = DateTime.Today.ToString("yyyy-MM-dd");
                        string shiftdatafromdb = Model.Shiftdate.ToString("yyyy-MM-dd");
                    }
                    <input type="date" class="form-control" placeholder="" min=@today id="shiftdate" value=@shiftdatafromdb asp-for="Shiftdate" disabled><span>Shift Date</span>
                </div>
                <div class="d-flex row my-3">
                    <div class="col-xl-6 col-md-6 col-sm-12">
                        <div class="form-group d-flex align-items-center rounded">
                            <input id="startTime" type="time" class="form-control" placeholder="" asp-for="StartTime" disabled><span>Start</span>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 col-sm-12">
                        <div class="form-group d-flex align-items-center rounded">
                            <input id="endTime" type="time" class="form-control" placeholder="" asp-for="EndTime" disabled><span>end</span>
                        </div>
                    </div>
                </div>
                <div class="d-flex my-3 justify-content-end gap-2">
                    <button type="button" id="ViewShiftReturnBtn" class="p-2 px-3 text-white bg-info rounded border-info  mx-1 shadow-none" data-id="@Model.ShiftId">Return</button>
                    <button type="button" id="ViewShiftEdit_SaveBtn" class="p-2 px-3 text-white bg-info rounded border-info  mx-1 shadow-none" data-id="@Model.ShiftId">Edit</button>
                    <button type="button" id="ViewShiftDeleteBtn" class="p-2 px-3 text-white bg-danger rounded border-danger  mx-1 shadow-none" data-id="@Model.ShiftId">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
    $.ajax({
        url: '/AdminArea/Dashboard/GetRegion',
        success: function (data) {
            var drawbyregiondrop = $('.drawbyregiondrop');
            $.each(data, function (index, regions) {
                drawbyregiondrop.append($('<option>', {
                    value: regions.regionid,
                    text: regions.name
                }))
            });
            $('.drawbyregiondrop').val(@Model.Location)
        }
    });
    $.ajax({
        url: 'AdminArea/Dashboard/GetPhysicianByRegion',
        type: 'POST',
        data: { regionid: 0 },
        success: function (data) {
            var physiciandropdown = $('.drawphysicianforshift');
            physiciandropdown.empty();
            physiciandropdown.append($('<option>', {
                hidden: "hidden",
                value: "invalid",
                text: "Select Physician"
            }))
            if (data.length == 0) {
                physiciandropdown.append($('<option>', {
                    value: "invalid",
                    disabled: "disabled",
                    text: "No Physician in this area",
                    style: "color : red"
                }))
            }
            else {
                $.each(data, function (index, phy) {
                    physiciandropdown.append($('<option>', {
                        value: phy.physicianid,
                        text: phy.firstname + " " + phy.lastname
                    }))
                });
            }
            $('.drawphysicianforshift').val(@Model.Physicianid)
        }
    });
    $(document).ready(function () {
        $('#ModalToOpen').draggable({
            handle: ".modal-dialog"
        });
    });



    $('#ViewShiftDeleteBtn').on('click' , function(){
        var shiftdetailid = $(this).data('id');
        $.ajax({
            url: '/AdminArea/AdminProviderTab/DeleteShift' ,
            data : {shiftdetailid} ,
            type : 'POST' ,
            success : function(response){
                $('#timewisedata').html(response);
                Swal.fire({
                    position: "top-end",
                    icon: "success",
                    title: "Shift Deleted",
                    showConfirmButton: false,
                    timer: 1000
                });
                $('.closeModel').trigger('click');
            }
        });
    });





</script>