@{
    Layout = null;
}
@using DataModels.AdminSideViewModels
@model PhysicianAccountViewModel
<div class="container">
    <div class="d-flex justify-content-between mx-3">
        <div class="h3 subinfotext fw-bold">Create Physician Account</div>
        <div>
            <a asp-action="Providers" asp-controller="AdminProviderTab">
                <button type="button" class="d-flex babtn rounded align-item-center p-1 px-2">
                    <div><img src="~/res/back.png" width="15px" height="10px"></div>
                    <div><span>Back</span></div>
                </button>
            </a>
        </div>
    </div>
    <form asp-action="CreateProvider" asp-controller="AdminProviderTab" method="post" enctype="multipart/form-data">
        <div class="bg-light rounded m-3 shadow" id="content">
            <div class="p-3">
                <div class="h5 fw-bold">Account Information</div>
                <div class="d-flex row">
                    <div class="py-2 col-xl-4 col-md-4 col-sm-12">
                        <div class="form-group d-flex align-items-center rounded">
                            <input type="text" class="form-control" placeholder="" asp-for="Username" id="usernamefield" readonly><span>Username</span>
                        </div>
                        <span asp-validation-for="Username"></span>
                    </div>
                    <div class="py-2 col-xl-4 col-md-4 col-sm-12">
                        <div class="form-group d-flex align-items-center rounded">
                            <input type="text" class="form-control" placeholder="" asp-for="Password" id="password"><span>Password</span>
                        </div>
                        <span class="text-danger spanofvalid" asp-validation-for="Password"></span>
                    </div>
                    <div class="py-2 col-xl-4 col-md-4 col-sm-12">
                        <div class="form-group d-flex align-items-center rounded">
                            <select class="form-select shadow-none" asp-for="Roleid">
                                <option>Select Role</option>
                                @foreach (var role in Model.roles)
                                {
                                    <option value="@role.Roleid">@role.Name</option>
                                }
                            </select>
                            <span class="selectedselectspan">Role</span>
                        </div>
                    </div>
                </div>
                <div class="h5 mt-5 fw-bold">Physicians Information</div>
                <div class="row d-flex">
                    <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                        <div class="form-group d-flex align-items-center rounded">
                            <input type="text" class="form-control personalinfordit" placeholder="" id="editfirstname" asp-for="FirstName"><span>First Name</span>
                        </div>
                        <span class="text-danger spanofvalid" asp-validation-for="FirstName"></span>
                    </div>
                    <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                        <div class="form-group d-flex align-items-center rounded">
                            <input type="text" class="form-control personalinfordit" placeholder="" id="editlastname" asp-for="LastName"><span>Last Name</span>
                        </div>
                        <span class="text-danger spanofvalid" asp-validation-for="LastName"></span>
                    </div>
                    <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                        <div class="form-group d-flex align-items-center rounded">
                            <input type="email" class="form-control personalinfordit" placeholder="" id="editemail" asp-for="Email"><span>Email</span>
                        </div>
                        <span class="text-danger spanofvalid" asp-validation-for="Email"></span>
                    </div>
                    <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                        <div class="telephone rounded">
                            <div class="input-group d-flex align-items-center rounded ">
                                <input type="tel" class="form-control  personalinfordit" id="personalinforditphone" asp-for="Phone">
                            </div>
                        </div>
                        <span class="text-danger spanofvalid" asp-validation-for="Phone"></span>
                    </div>
                    <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                        <div class="form-group d-flex align-items-center rounded">
                            <input type="text" class="form-control personalinfordit" placeholder="" id="editmedical" asp-for="MedicalLicense"><span>Medical License #</span>
                        </div>
                        <span class="text-danger spanofvalid" asp-validation-for="MedicalLicense"></span>
                    </div>
                    <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                        <div class="form-group d-flex align-items-center rounded">
                            <input type="text" class="form-control personalinfordit" placeholder="" id="editnpi" asp-for="NPINumber"><span>NPI Number</span>
                        </div>
                        <span class="text-danger spanofvalid" asp-validation-for="NPINumber"></span>
                    </div>
                    <div class="py-2 col-xl-6 col-md-6 col-sm-12 d-flex justify-content-between align-items-center flex-wrap">
                        @foreach (var item in Model.regions)
                        {
                            <div class="form-check form-check-inline ">
                                <input type="checkbox" name="selectedregion" class="form-check-input"  id="region_@item.Regionid" value="@item.Regionid" />
                                <label for="region_@item.Regionid">@item.Name</label>
                            </div>
                        }
                    </div>
                </div>
                <div class="h5 mt-5 fw-bold">Mailing&Billing Information</div>
                <div class="row d-flex">
                    <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                        <div class="form-group d-flex align-items-center rounded">
                            <input type="text" class="form-control addressedit" id="addresseditAddress1" placeholder="" asp-for="Address1"><span>Address1</span>
                        </div>
                        <span class="text-danger spanofvalid" asp-validation-for="Address1"></span>
                    </div>
                    <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                        <div class="form-group d-flex align-items-center rounded">
                            <input type="text" class="form-control addressedit" id="addresseditAddress2" placeholder="" asp-for="Address2"><span>Address2</span>
                        </div>
                        <span class="text-danger spanofvalid" asp-validation-for="Address2"></span>
                    </div>
                    <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                        <div class="form-group d-flex align-items-center rounded">
                            <input type="text" class="form-control addressedit" id="addresseditCity" placeholder="" asp-for="City"><span>City</span>
                        </div>
                        <span class="text-danger spanofvalid" asp-validation-for="City"></span>
                    </div>
                    <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                        <div class="form-group d-flex align-items-center rounded">
                            <select class="form-select addressedit" id="state" asp-for="RegionID">
                                <option>Select State</option>
                                @foreach (var item in Model.regions)
                                {
                                    <option value="@item.Regionid">@item.Name</option>
                                }
                            </select>
                            <span class="selectedselectspan">State</span>
                        </div>
                    </div>
                    <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                        <div class="form-group d-flex align-items-center rounded">
                            <input type="text" class="form-control addressedit" id="addresseditZip" placeholder="" asp-for="Zip"><span>Zip</span>
                        </div>
                        <span class="text-danger spanofvalid" asp-validation-for="Zip"></span>
                    </div>
                    <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                        <div class="telephone rounded">
                            <div class="input-group d-flex align-items-center rounded ">
                                <input type="tel" class="form-control  addressedit" id="addresseditBillMobile" asp-for="BusinessPhone">
                            </div>
                        </div>
                        <span class="text-danger spanofvalid" asp-validation-for="BusinessPhone"></span>
                    </div>
                </div>
                <div class="h5 mt-5 fw-bold">Provider Profile</div>
                <div class="row d-flex">
                    <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                        <div class="form-group d-flex align-items-center rounded">
                            <input type="text" class="form-control authedit" id="authbusinessname" placeholder="" asp-for="BusinessName"><span>Business Name</span>
                        </div>
                        <span class="text-danger spanofvalid" asp-validation-for="BusinessName"></span>
                    </div>
                    <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                        <div class="form-group d-flex align-items-center rounded">
                            <input type="text" class="form-control authedit" id="authbusinessweb" placeholder="" asp-for="BusinessWebSite"><span>Business WebSite</span>
                        </div>
                        <span class="text-danger spanofvalid" asp-validation-for="BusinessWebSite"></span>
                    </div>
                    <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                        <div class="form-group rounded d-flex align-items-center justify-content-between uploadbtndiv">
                            <div class="px-3 table-responsive">
                                <input type="file" id="actual-btn" accept=".jpg, .png" hidden />
                                <textarea asp-for="Photo" id="photobase64" hidden></textarea>
                                <label role="button" id="file-chosen" class="choosenfile text-dark text-nowrap">Select Photo</label>
                            </div>
                            <button type="button" class="uploadbtn px-2 py-1 d-flex ms-1 border-0" id="uploadphoto">
                                <label role="button" for="actual-btn" class="d-flex align-items-center"><i class="bi bi-cloud-arrow-up p-2"></i><div class="cnr">Upload</div></label>
                            </button>
                        </div>
                    </div>
                    <div class="py-2 col-12 ">
                        <div class="form-group rounded d-flex align-items-center">
                            <textarea class="form-control" placeholder="" rows="5" asp-for="AdminNotes" id="editadminnotes"></textarea><span>Admin Notes</span>
                        </div>
                    </div>
                </div>
                <hr class="text-muted" style="border : 2px solid black" />

                <div class="h5 fw-bold">Onboarding</div>
                <div class="table-responsive small" style="font-weight: bold">
                    <table class="w-100">
                        <tr class="p-1 ">
                            <td class="p-2">
                                <input type="checkbox" class="form-check-input fileToUploadCheck" id="ICAFileToUploadCheck" disabled />
                            </td>
                            <td class="p-2 px-3">
                                Independent Contractor Agreement
                            </td>
                            <td class="p-2">
                                <input type="file" id="ICAFileToUpload" class="fileToUpload" asp-for="AgreementDoc" accept=".pdf" hidden />
                                <label for="ICAFileToUpload">
                                    <div type="button" class="p-1 px-2 text-white bg-info rounded border-info d-flex align-items-center h-100">
                                        <i class="bi bi-cloud-arrow-up"></i>
                                        <span class="d-none d-lg-block ps-2">Upload</span>
                                    </div>
                                </label>

                            </td>
                        </tr>
                        <tr class="p-1">
                            <td class="p-2">
                                <input type="checkbox" class="form-check-input fileToUploadCheck" id="BackDocFileToUploadCheck" disabled />
                            </td>
                            <td class="p-2 px-3">
                                Background Check
                            </td>
                            <td class="p-2">
                                <input type="file" id="BackDocFileToUpload" class="fileToUpload" asp-for="BackgroundDoc" accept=".pdf" hidden />
                                <label for="BackDocFileToUpload">
                                    <div type="button" class="p-1 px-2 text-white bg-info rounded border-info d-flex align-items-center h-100">
                                        <i class="bi bi-cloud-arrow-up"></i>
                                        <span class="d-none d-lg-block ps-2">Upload</span>
                                    </div>
                                </label>
                            </td>
                        </tr>
                        <tr class="p-1">
                            <td class="p-2">
                                <input type="checkbox" class="form-check-input fileToUploadCheck" id="HIPAAFileToUploadCheck" disabled />
                            </td>
                            <td class="p-2 px-3">
                                HIPAA Compliance
                            </td>
                            <td class="p-2">
                                <input type="file" id="HIPAAFileToUpload" class="fileToUpload" asp-for="CredentialDoc" accept=".pdf" hidden />
                                <label for="HIPAAFileToUpload">
                                    <div type="button" class="p-1 px-2 text-white bg-info rounded border-info d-flex align-items-center h-100">
                                        <i class="bi bi-cloud-arrow-up"></i>
                                        <span class="d-none d-lg-block ps-2">Upload</span>
                                    </div>
                                </label>
                            </td>

                        </tr>
                        <tr class="p-1">
                            <td class="p-2">
                                <input type="checkbox" class="form-check-input fileToUploadCheck" id="NDAFileToUploadCheck" disabled />
                            </td>
                            <td class="p-2 px-3">
                                Non-Disclosure Agreement
                            </td>
                            <td class="p-2">
                                <input type="file" id="NDAFileToUpload" class="fileToUpload" asp-for="NonDisclosureDoc" accept=".pdf" hidden />
                                <label for="NDAFileToUpload">
                                    <div type="button" class="p-1 px-2 text-white bg-info rounded border-info d-flex align-items-center h-100">
                                        <i class="bi bi-cloud-arrow-up"></i>
                                        <span class="d-none d-lg-block ps-2">Upload</span>
                                    </div>
                                </label>
                            </td>
                        </tr>
                    </table>
                </div>

                <span class="text-danger spanofvalid" style="font-size : large!important" id="errormessageforfile"></span>

                <hr class="text-muted" style="border : 2px solid black" />
                <div class="d-flex justify-content-end">
                    <button type="button" id="CreateAccountBtn" class="p-1 px-2 text-white bg-success rounded border-success d-flex align-items-center h-100">
                        <span class="d-none d-lg-block ps-2">Create Account</span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<link rel="stylesheet" href="~/css/error.css" asp-append-version="true" />
<style>
    .form-check-input:disabled {
        opacity: 1;
    }
</style>
<script src="~/js/CreateProviderPage.js" asp-append-version="true"></script>