@{
    Layout = null;
}
@using DataModels.AdminSideViewModels
@model PhysicianAccountViewModel
<div class="container">
    <div class="d-flex justify-content-between mx-3">
        <div class="h3 subinfotext fw-bold">Edit Physician Account</div>
        <div>
            <a asp-action="AdminTabsLayout" asp-controller="Home">
                <button type="button" class="d-flex babtn rounded align-item-center p-1 px-2">
                    <div><img src="~/res/back.png" width="15px" height="10px"></div>
                    <div><span>Back</span></div>
                </button>
            </a>
        </div>
    </div>
    <div class="bg-light rounded m-3 shadow" id="content">
        <div class="p-3">
            <div class="h5 fw-bold">Account Information</div>
            <div class="d-flex row">
                <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                    <div class="form-group d-flex align-items-center rounded">
                        <input type="text" class="form-control" placeholder="" asp-for="Username" disabled><span>Username</span>
                    </div>
                    <span class="text-danger" asp-validation-for="Username"></span>

                </div>
                <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                    <div class="form-group d-flex align-items-center rounded">
                        <input type="text" class="form-control" placeholder="" asp-for="Password" id="password" disabled><span>Password</span>
                        <input type="text" class="form-control" placeholder="" value="@Model.Aspnetid" id="aspnetid" hidden>
                    </div>
                    <span class="text-danger" asp-validation-for="Password" ></span>
                </div>
                <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                    <div class="form-group d-flex align-items-center rounded">
                        <select class="form-select" disabled>
                            <option>Active</option>
                        </select>
                        <span class="selectedselectspan">Status</span>
                    </div>
                </div>
                <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                    <div class="form-group d-flex align-items-center rounded">
                        <select class="form-select" disabled>
                            <option>Physician</option>
                        </select>
                        <span class="selectedselectspan">Role</span>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end py-4" id="passsaveandcancle">
                <button type="button" class="btn border-info text-info shadow-none" id="resetpassword">Reset Password</button>
            </div>



            <div class="h5 fw-bold">Physicians Information</div>
            <form>
                <input type="text" class="form-control" placeholder="" value="@Model.PhysicianId" id="inputhiddenid" asp-for="PhysicianId" hidden>
                <div class="row d-flex">
                    <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                        <div class="form-group d-flex align-items-center rounded">
                            <input type="text" class="form-control personalinfordit" placeholder="" id="editfirstname" asp-for="FirstName" disabled><span>First Name</span>
                        </div>
                        <span class="text-danger" asp-validation-for="FirstName"></span>
                    </div>
                    <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                        <div class="form-group d-flex align-items-center rounded">
                            <input type="text" class="form-control personalinfordit" placeholder="" id="editlastname" asp-for="LastName" disabled><span>Last Name</span>
                        </div>
                        <span class="text-danger" asp-validation-for="LastName"></span>
                    </div>
                    <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                        <div class="form-group d-flex align-items-center rounded">
                            <input type="email" class="form-control personalinfordit" placeholder="" id="editemail" asp-for="Email" disabled><span>Email</span>
                        </div>
                        <span class="text-danger" asp-validation-for="Email"></span>
                    </div>
                    <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                        <div class="telephone rounded">
                            <div class="input-group d-flex align-items-center rounded ">
                                <input type="tel" class="form-control  personalinfordit" id="personalinforditphone" asp-for="Phone" disabled>
                            </div>
                            <span class="text-danger" asp-validation-for="Phone"></span>
                        </div>
                    </div>
                    <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                        <div class="form-group d-flex align-items-center rounded">
                            <input type="text" class="form-control personalinfordit" placeholder="" id="editmedical" asp-for="MedicalLicense" disabled><span>Medical License #</span>
                        </div>
                        <span class="text-danger" asp-validation-for="MedicalLicense"></span>
                    </div>
                    <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                        <div class="form-group d-flex align-items-center rounded">
                            <input type="text" class="form-control personalinfordit" placeholder="" id="editnpi" asp-for="NPINumber" disabled><span>NPI Number</span>
                        </div>
                        <span class="text-danger" asp-validation-for="NPINumber"></span>
                    </div>
                    <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                        <div class="form-group d-flex align-items-center rounded">
                            <input type="email" class="form-control personalinfordit" placeholder="" id="editsyncemail" asp-for="SynchronizationEmail" disabled><span>Synchronization Email</span>
                        </div>
                        <span class="text-danger" asp-validation-for="SynchronizationEmail"></span>
                    </div>
                    <div class="py-2 col-xl-6 col-md-6 col-sm-12 d-flex justify-content-between align-items-center flex-wrap">
                        @foreach (var item in Model.regions)
                        {
                            <div class="form-check form-check-inline ">
                                @if (Model.SelectedRegionCB == null)
                                {
                                    <input type="checkbox" name="physicianeditregion" id="region_@item.Regionid" value="@item.Regionid" disabled />
                                }
                                else if (Model.SelectedRegionCB.Contains(item.Regionid))
                                {
                                    <input type="checkbox" class="form-check-input" name="physicianeditregion" id="region_@item.Regionid" value="@item.Regionid" checked disabled />
                                }
                                else
                                {
                                    <input type="checkbox" class="form-check-input" name="physicianeditregion" id="region_@item.Regionid" value="@item.Regionid" disabled />
                                }
                                <label for="region_@item.Regionid">@item.Name</label>
                            </div>
                        }
                    </div>
                    <div class="d-flex justify-content-end gap-2 p-3 " id="phyiciansaveandcancel">
                        <button type="button" class=" p-2 px-3 text-white bg-info rounded border-info  mx-2 px-3 shadow-none" id="physicianEdit_Save">Edit</button>
                    </div>
                </div>
            </form>
            <div class="h5 fw-bold">Mailing&Billing Information</div>
            <form>
                <div class="row d-flex">
                    <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                        <div class="form-group d-flex align-items-center rounded">
                            <input type="text" class="form-control addressedit" id="addresseditAddress1" placeholder="" asp-for="Address1" disabled><span>Address1</span>
                        </div>
                        <span class="text-danger" asp-validation-for="Address1"></span>
                    </div>
                    <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                        <div class="form-group d-flex align-items-center rounded">
                            <input type="text" class="form-control addressedit" id="addresseditAddress2" placeholder="" asp-for="Address2" disabled><span>Address2</span>
                        </div>
                        <span class="text-danger" asp-validation-for="Address2"></span>
                    </div>
                    <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                        <div class="form-group d-flex align-items-center rounded">
                            <input type="text" class="form-control addressedit" id="addresseditCity" placeholder="" asp-for="City" disabled><span>City</span>
                        </div>
                        <span class="text-danger" asp-validation-for="City"></span>
                    </div>
                    <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                        <div class="form-group d-flex align-items-center rounded">
                            <select class="form-select addressedit" id="state" asp-for="RegionID" disabled>
                                @foreach (var item in Model.regions)
                                {
                                    <option value="@item.Regionid">@item.Name</option>
                                }
                            </select>
                            <span class="selectedselectspan">State</span>
                        </div>
                    </div>
                    <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                        <div class="form-group d-flex align-items-center rounded">
                            <input type="text" class="form-control addressedit" id="addresseditZip" placeholder="" asp-for="Zip" disabled><span>Zip</span>
                        </div>
                        <span class="text-danger" asp-validation-for="Zip"></span>
                    </div>
                    <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                        <div class="telephone rounded">
                            <div class="input-group d-flex align-items-center rounded ">
                                <input type="tel" class="form-control  addressedit" id="addresseditBillMobile" asp-for="BusinessPhone" disabled>
                            </div>
                            <span class="text-danger" asp-validation-for="BusinessPhone"></span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end gap-2 p-3" id="addresssaveandcancel">
                        <button type="button" class=" p-2 px-3 text-white bg-info rounded border-info  mx-2 px-3 shadow-none" id="addressEdit_Save">Edit</button>
                    </div>
                </div>
            </form>
            <div class="h5 fw-bold">Provider Profile</div>
            <form>
                <div class="row d-flex">
                    <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                        <div class="form-group d-flex align-items-center rounded">
                            <input type="text" class="form-control authedit" id="authbusinessname" placeholder="" asp-for="BusinessName" disabled><span>Business Name</span>
                        </div>
                        <span class="text-danger" asp-validation-for="BusinessName"></span>
                    </div>
                    <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                        <div class="form-group d-flex align-items-center rounded">
                            <input type="text" class="form-control authedit" id="authbusinessweb" placeholder="" asp-for="BusinessWebSite" disabled><span>Business WebSite</span>
                        </div>
                        <span class="text-danger" asp-validation-for="BusinessWebSite"></span>
                    </div>
                    <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                        <div class="form-group rounded d-flex align-items-center justify-content-between uploadbtndiv">
                            <div class="px-3 table-responsive">
                                <input type="file" id="actual-btn" accept=".jpg" asp-for="Photo" hidden />
                                <label role="button" for="actual-btn" id="file-chosen" class="choosenfile text-dark text-nowrap">No item selected</label>
                            </div>
                            <button type="button" class="uploadbtn px-2 py-1 d-flex ms-1 border-0" id="uploadphoto">
                                <label role="button" class="d-flex align-items-center"><i class="bi bi-cloud-arrow-up p-2"></i><div class="cnr">Upload</div></label>
                            </button>
                        </div>
                    </div>
                    <div class="py-2 col-xl-6 col-md-6 col-sm-12 d-flex justify-content-between">
                        <div class="form-group rounded d-flex align-items-center justify-content-between uploadbtndiv w-75">
                            <div class="px-3 table-responsive">
                                <input type="file" id="actual-btn1" asp-for="Sign" hidden />
                                <label role="button" for="actual-btn1" id="file-chosen1" class="choosenfile1 text-dark text-nowrap">No item selected</label>
                            </div>
                            <button type="button" class="uploadbtn px-2 py-1 d-flex ms-1 border-0" id="uploadsign">
                                <label role="button" class="d-flex align-items-center"><i class="bi bi-cloud-arrow-up p-2"></i><div class="cnr">Upload</div></label>
                            </button>
                        </div>
                        <div class="d-flex justify-content-end ps-1" style="width : max-content">
                            <button type="button" id="createsign" class="p-2 px-3 text-white bg-info rounded border-info d-flex align-items-center h-100">
                                <i class="bi bi-pencil-square"></i>
                                <span class="d-none d-lg-block ps-2">Create</span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>

            <div id="_SignPad"></div>
            <div class="d-flex">
                <div class="w-50 d-flex justify-content-center align-items-center">
                    <img src="@Model.Photo" width="50%" />
                </div>
                <div class="w-50 d-flex justify-content-center align-items-center">
                    <img src="@Model.Sign" width="50%" />
                </div>
            </div>



            <form>
                <div class="row d-flex">
                    <div class="py-2 col-12 ">
                        <div class="form-group rounded d-flex align-items-center">
                            <textarea class="form-control" placeholder="" rows="5" asp-for="AdminNotes" id="editadminnotes" disabled></textarea><span>Admin Notes</span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end gap-2 p-3" id="adminnotesaveandcancel">
                        <button type="button" class=" p-2 px-3 text-white bg-info rounded border-info  mx-2 px-3 shadow-none" id="adminnoteEdit_Save">Edit</button>
                    </div>
                </div>
            </form>

            <hr class="text-muted" style="border : 2px solid black" />

            <div class="h5 fw-bold">Onboarding</div>
            <div class="table-responsive small" style="font-weight: bold">
                <table>
                    <tr class="p-1">
                        <td class="p-2">
                            <input type="checkbox" class="form-check-input"
                            @if (Model.IsAgreementDoc)
                            {
                                @: checked
                            }
                                   disabled />
                        </td>
                        <td class="p-2 px-3">
                            Independent Contractor Agreement
                        </td>
                        <td class="p-2">
                            <button type="button" data-url="/AdminArea/AdminProviderTab/UploadICAdoc"  class="p-1 px-2 text-white fileuploadbtn bg-info rounded border-info d-flex align-items-center h-100">
                                <i class="bi bi-cloud-arrow-up"></i>
                                <span class="d-none d-lg-block ps-2">Upload</span>
                            </button>
                        </td>
                        @if (Model.IsAgreementDoc)
                        {
                            <td class="p-2">
                                <button type="button" data-url="/AdminArea/AdminProviderTab/ViewICAdoc" class="p-1 px-2 text-white bg-info fileviewbtn rounded border-info d-flex align-items-center h-100">
                                    <i class="bi  bi-eye-fill"></i>
                                    <span class="d-none d-lg-block ps-2">View</span>
                                </button>
                            </td>
                        }
                    </tr>
                    <tr class="p-1">
                        <td class="p-2">
                            <input type="checkbox" class="form-check-input"
                            @if (Model.IsBackgroundDoc)
                            {
                                @: checked
                            }
                                   disabled />
                        </td>
                        <td class="p-2 px-3">
                            Background Check
                        </td>
                        <td class="p-2">
                            <button type="button" data-url="/AdminArea/AdminProviderTab/UploadBackDocdoc" class="p-1 px-2 text-white bg-info fileuploadbtn rounded border-info d-flex align-items-center h-100">
                                <i class="bi bi-cloud-arrow-up"></i>
                                <span class="d-none d-lg-block ps-2">Upload</span>
                            </button>
                        </td>
                        @if (Model.IsBackgroundDoc)
                        {
                            <td class="p-2">
                                <button type="button" data-url="/AdminArea/AdminProviderTab/ViewBackDocdoc" class="p-1 px-2 text-white bg-info fileviewbtn rounded border-info d-flex align-items-center h-100">
                                    <i class="bi  bi-eye-fill"></i>
                                    <span class="d-none d-lg-block ps-2">View</span>
                                </button>
                            </td>
                        }

                    </tr>
                    <tr class="p-1">
                        <td class="p-2">
                            <input type="checkbox" class="form-check-input"
                            @if (Model.IsCredentialDoc)
                            {
                                @: checked
                            }
                                   disabled />
                        </td>
                        <td class="p-2 px-3">
                            HIPAA Compliance
                        </td>
                        <td class="p-2">
                            <button type="button" data-url="/AdminArea/AdminProviderTab/UploadCredentialdoc" class="p-1 px-2 text-white bg-info fileuploadbtn rounded border-info d-flex align-items-center h-100">
                                <i class="bi bi-cloud-arrow-up"></i>
                                <span class="d-none d-lg-block ps-2">Upload</span>
                            </button>
                        </td>
                        @if (Model.IsCredentialDoc)
                        {
                            <td class="p-2">
                                <button type="button" data-url="/AdminArea/AdminProviderTab/VeiwCredentialdoc" class="p-1 px-2 text-white bg-info fileviewbtn rounded border-info d-flex align-items-center h-100">
                                    <i class="bi  bi-eye-fill"></i>
                                    <span class="d-none d-lg-block ps-2">View</span>
                                </button>
                            </td>
                        }
                    </tr>
                    <tr class="p-1">
                        <td class="p-2">
                            <input type="checkbox" class="form-check-input"
                            @if (Model.IsNonDisclosureDoc)
                            {
                                @: checked
                            }
                                   disabled />
                        </td>
                        <td class="p-2 px-3">
                            Non-Disclosure Agreement
                        </td>
                        <td class="p-2">
                            <button type="button" data-url="/AdminArea/AdminProviderTab/UploadNDAdoc" class="p-1 px-2 text-white bg-info rounded fileuploadbtn border-info d-flex align-items-center h-100">
                                <i class="bi bi-cloud-arrow-up"></i>
                                <span class="d-none d-lg-block ps-2">Upload</span>
                            </button>
                        </td>
                        @if (Model.IsNonDisclosureDoc)
                        {
                            <td class="p-2">
                                <button type="button" data-url="/AdminArea/AdminProviderTab/ViewNDAdoc" class="p-1 px-2 text-white bg-info rounded fileviewbtn border-info d-flex align-items-center h-100">
                                    <i class="bi  bi-eye-fill"></i>
                                    <span class="d-none d-lg-block ps-2">View</span>
                                </button>
                            </td>
                        }
                    </tr>
                    <tr class="p-1">
                        <td class="p-2">
                            <input type="checkbox" class="form-check-input"
                            @if (Model.IsLicenseDoc)
                            {
                                @: checked
                            }
                                   disabled />
                        </td>
                        <td class="p-2 px-3">
                            License Document
                        </td>
                        <td class="p-2">
                            <button type="button" data-url="/AdminArea/AdminProviderTab/UploadLicensedoc" class="p-1 px-2 text-white bg-info rounded fileuploadbtn border-info d-flex align-items-center h-100">
                                <i class="bi bi-cloud-arrow-up"></i>
                                <span class="d-none d-lg-block ps-2">Upload</span>
                            </button>
                        </td>
                        @if (Model.IsLicenseDoc)
                        {
                            <td class="p-2">
                                <button type="button" data-url="/AdminArea/AdminProviderTab/ViewLicensedoc" class="p-1 px-2 text-white bg-info rounded fileviewbtn border-info d-flex align-items-center h-100">
                                    <i class="bi  bi-eye-fill"></i>
                                    <span class="d-none d-lg-block ps-2">View</span>
                                </button>
                            </td>
                        }
                    </tr>
                </table>
            </div>

            <input type="file" id="SelectFileToUpload" accept=".pdf" hidden />
            <span class="text-danger" style="font-size : large!important" id="errormessageforfile"></span>

            <hr class="text-muted" style="border : 2px solid black" />

            <div class="d-flex justify-content-end gap-2">
                <div>
                    <button type="button" id="SaveMAIN" class="p-2 px-3 text-white bg-info rounded border-info d-flex align-items-center d-none">
                        <span>Save</span>
                    </button>
                </div>
                <div>
                    <button type="button" id="DeleteAccount" class="p-2 px-3 text-white bg-danger rounded border-danger d-flex align-items-center">
                        <span>Delete Account</span>
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="~/js/ProviderAccount.js" asp-append-version="true"></script>
<script src="~/js/requestform.js" asp-append-version="true"></script>
