@{
    Layout = "_SchedulerLayout";
}
@using DataModels.AdminSideViewModels
@model ProviderOnCallViewModel
<div class="container">
    <div class="d-flex justify-content-between">
        <div class="h3 subinfotext fw-bold">MDs On Call </div>
    </div>
    <div class="d-flex justify-content-between align-items-center">
        <div>
            <select class="form-select  mb-0 fs-6 form-control drawbyregiondropdown">
                <option value="0">All Region</option>
            </select>
        </div>
        <div class="d-flex gap-2">
            <button class="p-2px-3mx-2 text-white bg-info rounded border-info d-flex align-items-center" id="calenderviewbtn">
                <span>Calender View</span>
            </button>
            <button class="p-2px-3mx-2 text-white bg-info rounded border-info d-flex align-items-center" id="agendaview">
                <span>Shifts For Review</span>
            </button>
        </div>
    </div>
    <div class="bg-light rounded m-3 shadow" id="content">
        <div class="p-3">
            <div class="h5 fw-bold">MD's On Call</div>
            <div class="d-flex row">
                @foreach (var item in Model.physicianDatas.Where(x => x.OnCall == true))
                {
                    <div role="button" class="d-flex py-2 align-items-center gap-3 col-xl-4 col-md-6 col-sm-12 col-12">
                        @if (item.Photo == null || item.Photo == "")
                        {
                            <img src="~/res/OIP.png" width="80px" class="physiciandetail" data-id="phy_@item.Physicianid">
                        }
                        else
                        {
                            <img src="@item.Photo" width="80px" height="80px" class="physiciandetail" data-id="phy_@item.Physicianid">
                        }
                        <span class="physiciandetail" data-id="phy_@item.Physicianid">@item.Physicianname</span>
                    </div>
                }
            </div>
            <div class="h5 fw-bold">Physician Off Duty</div>
            <div class="d-flex row">
                @foreach (var item in Model.physicianDatas.Where(x => x.OnCall == false))
                {
                    <div role="button" class="d-flex py-2 align-items-center gap-3 col-xl-4 col-md-6 col-sm-12 col-12">
                        @if (item.Photo == null || item.Photo == "")
                        {
                            <img src="~/res/OIP.png" width="80px" class="physiciandetail" data-id="phy_@item.Physicianid">
                        }
                        else
                        {
                            <img src="@item.Photo" width="80px" height="80px" class="physiciandetail" data-id="phy_@item.Physicianid">
                        }
                        <span class="physiciandetail" data-id="phy_@item.Physicianid">@item.Physicianname</span>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


@{
    string shiftdatafromdb = Model.datetoshow.ToString("yyyy-MM-dd");
}
<input type="date" id="shiftdate" value=@shiftdatafromdb hidden>
<input type="text" id="showby" value=@Model.showby hidden />



<script>
    $.ajax({
        url: '/AdminArea/Dashboard/GetRegion',
        success: function (data) {
            var drawbyregiondropdown = $('.drawbyregiondropdown');
            $.each(data, function (index, regions) {
                drawbyregiondropdown.append($('<option>', {
                    value: regions.regionid,
                    text: regions.name
                }))
            });
            $('.drawbyregiondropdown').val(@Model.region);
        }
    });
</script>





<script src="~/js/ProviderOnCall.js" asp-append-version="true"></script>