@{
    Layout = null;
}
@using DataModels.AdminSideViewModels
@model VendorsListViewModel
<table class="w-100 table table-hover" id="vendortable" style="vertical-align : middle">
    <thead style="background-color: rgb(235, 235, 235) ; color: black !important ; font :normal!important">
        <tr style="--bs-table-bg: #ebebeb; color : black">
            <th style="width : 15% !important">Profession</th>
            <th style="width : 15% !important">Business Name</th>
            <th style="width : 15% !important">Email</th>
            <th style="width : 15% !important">Fax Number</th>
            <th style="width : 15% !important">Phone Number</th>
            <th style="width : 15% !important">Business Contact</th>
            <th style="width : 10% !important">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var professional in Model.healthprofessionals)
        {
            <tr>
                <td>@Model.healthprofessionaltypes.FirstOrDefault(x=>x.Healthprofessionalid == professional.Profession).Professionname</td>
                <td>@professional.Vendorname</td>
                <td>@professional.Email</td>
                <td>@professional.Faxnumber</td>
                <td>@professional.Phonenumber</td>
                <td>@professional.Businesscontact</td>
                <td>
                    <div class="d-flex gap-2">
                        <button type="button" class="btn border-info text-info shadow-none roleeditbtn editorcreate" data-name="@professional.Vendorname"  data-id="@professional.Vendorid">
                            <span>Edit</span>
                        </button>
                        <button type="button" class="btn border-info text-info shadow-none roledeletebtn " data-name="@professional.Vendorname" data-id="@professional.Vendorid">
                            <span>Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>


    $('.roledeletebtn').on('click', function () {
        var vendorid = $(this).data('id');
        var name = $(this).data('name');
        var professiontype = $('.professions').val();
        var search = $('#searchInput').val();
        Swal.fire({
            title: "Are you sure to remove vendor " + name +" ?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, delete it!"
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '/AdminArea/AdminPartnersTab/DeleteThisVendor',
                    data: { vendorid: vendorid, professiontype: professiontype, search: search },
                    type: 'POST',
                    success: function (response) {
                        $('#_Vendordetail').html(response);
                        Swal.fire({
                            position: "top-end",
                            icon: "success",
                            title: "Vendor Removed",
                            showConfirmButton: false,
                            timer: 1000
                        });
                    }
                })
            }
        });
    });

    $('.editorcreate').on('click', function () {
        var id = $(this).data('id');
        $.ajax({
            url : '/AdminArea/AdminPartnersTab/VendorEditCreate' ,
            data : {id},
            type : 'POST',
            success : function(response){
                $('#nav-tabContent').html(response);
            }
        });
    });

</script>