@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
@using HelloDoc.DataModels; 
@model List<Blockrequest>

    
<table>
    <tr>
        <th>id</th>
        <th>reid</th>
        <th>reason</th>
        <th>email</th>
        <th>phone</th>
        <th>createddate</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Blockrequestid</td>
            <td>@item.Requestid</td>
            <td>@item.Reason</td>
            <td>@item.Email</td>
            <td>@item.Phonenumber</td>
            <td>@item.Createddate</td>
        </tr>
    }
</table>