@{
    Layout = null;
}
@using DataModels.AdminSideViewModels;
@model RequestViewUploadsViewModel;

<div class="container">
    <div class="">
        <div class="d-flex justify-content-between mx-3">
            <div class="h3 subinfotext fw-bold">Close Case</div>
            <div>
                <a asp-controller="Dashboard" asp-action="Dashboard">
                    <button class="d-flex babtn rounded align-item-center p-1 px-2">
                        <div><img src="~/res/back.png" width="15px" height="10px"></div>
                        <div><span>Back</span></div>
                    </button>
                </a>
            </div>
        </div>
        <div class="bg-white rounded m-3 shadow" id="content">
            <div class="d-flex justify-content-between p-3">
                <div>
                    <div><span class="small">Patient Name </span></div>
                    <div class=""><span class="text-info h4">@Model.patientname  </span><span class="h6">(@Model.confirmation)</span></div>
                    <div class="py-3"><span class="small">Check here to review and add files that you or the Client/Member has attached to the Request</span></div>
                </div>
                <div>
                    <button class="d-flex babtn rounded align-item-center p-1 px-2" type="button">
                        <div><span>Create Invoice Through Quickbooks</span></div>
                    </button>
                </div>
            </div>
            <form method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="RequestsId" value="@Model.RequestsId" id="inputhiddenrequestid" />
                <div class="d-flex justify-content-between align-items-center p-3">
                    <div class="h4 mb-0 fw-bold">Documents</div>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover small rounded" id="dtBasicExample1">
                        <thead class="thead-dark bg-body-secondary viewuploadtablehead">
                            <tr style="--bs-table-bg: #ebebeb; color : black" class="d-flex justify-content-between">
                                <th style="width : 64%"></th>
                                <th style="width : 18%" class="text-dark ">
                                    Upload Date
                                </th>
                                <th style="width : 18%" class="text-dark ">
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var m in Model.requestwisefiles)
                            {
                                <tr class="d-flex justify-content-between">
                                    <td style="width : 64%">
                                        <button type="button" class="viewfile bg-transparent border-0" data-toggle="tooltip" data-placement="top" title="View File" value="@m.Requestwisefileid">@System.IO.Path.GetFileName(@m.Filename)</button>
                                    </td>
                                    <td style="width : 18%">@m.Createddate.ToString("MMM dd , yyyy")</td>
                                    <td style="width : 18%">
                                        <div class="d-flex justify-content-center">
                                            <a asp-action="Download" asp-controller="Dashboard" asp-route-id="@m.Requestwisefileid" class="justify-content-start d-flex">
                                                <input type="hidden" asp-for="reqfileid" value="@m.Requestwisefileid" multiple>
                                                <div class="babtn rounded align-item-center p-1 px-2" style="width : 40px">
                                                    <div class="d-flex justify-content-center"><i class="bi bi-cloud-arrow-down"></i></div>
                                                </div>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </form>
            <div class="p-3 mt-4">
                <div class="h5 fw-bold">Patient Information</div>
                <form class="p-0">
                    <div class="row d-flex">
                        <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                            <div class="form-group d-flex align-items-center rounded">
                                <input type="text" class="form-control" placeholder="" asp-for="FirstName" disabled><span>First Name</span>
                            </div>
                            <span asp-validation-for="FirstName" class="text-danger spanofvalid"></span>
                        </div>
                        <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                            <div class="form-group d-flex align-items-center rounded">
                                <input type="text" class="form-control" placeholder="" asp-for="LastName" disabled><span>Last Name</span>
                            </div>
                            <span asp-validation-for="LastName" class="text-danger spanofvalid"></span>
                        </div>
                        <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                            <div class="form-group d-flex align-items-center rounded">
                                <input type="date" class="form-control" placeholder="" min="1940-01-01" max="2000-01-01" asp-for="PatientDOB" disabled><span>Date of Birth</span>
                            </div>
                        </div>
                        <div class="py-2 col-xl-5 col-md-5 col-sm-10 col-10">
                            <div class="telephone rounded">
                                <div class="input-group d-flex align-items-center rounded ">
                                    <input type="tel" class="form-control CloseCasePatientMobile" asp-for="PatientMobile" disabled>
                                </div>
                            </div>
                            <span asp-validation-for="PatientMobile" class="text-danger spanofvalid"></span>
                        </div>
                        <div class="py-2 col-xl-1 col-md-1 col-sm-2 col-2 ps-0">
                            <div class="border border-1 border-info d-flex w-100 h-100 align-items-center justify-content-center rounded">
                                <button class=" text-info border-0 bg-transparent"><i class="bi bi-telephone-fill" style="font-size : 1.5rem"></i></button>
                            </div>
                        </div>
                        <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                            <div class="form-group d-flex align-items-center rounded">
                                <input type="email" class="form-control CloseCasePatientEmail" placeholder="" asp-for="PatientEmail" disabled>
                                <span>Email</span>
                            </div>
                            <span asp-validation-for="PatientEmail" class="text-danger spanofvalid"></span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="d-flex justify-content-end gap-2 p-3">
                <button type="button" class=" p-2 px-3 text-white bg-info rounded border-info  mx-2 shadow-none" id="Edit_Save">Edit</button>
                <button type="button" class="btn border-info text-info shadow-none" id="Close_Cancle">Close Case</button>
            </div>
        </div>
    </div>
</div>


<script>

</script>
<link rel="stylesheet" href="~/css/error.css" asp-append-version="true" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script src="~/js/ViewUploads.js" asp-append-version="true"></script>
<script src=~/js/site.js asp-append-version="true"></script>