@using DataModels.AdminSideViewModels;
@model AdminDashboardViewModel;
@{
    Layout = null;
}
<nav>
    <div class="nav nav-tabs" id="status-tab" role="tablist">
        <div class="allstatus ">
            <button class="w-100 nav-link dashboardtab position-relative" id="status-new" data-bs-toggle="tab" data-bs-target="#s_new" type="button" role="tab" aria-controls="s_new" aria-selected="true">
                <div class="new rounded-4res">
                    <div class="d-flex p-1">
                        <div class="px-2 icons float-start  small"><i class="bi bi-plus-circle-dotted"></i></div><div class="small fw-bold">NEW</div>
                    </div>
                    <div class="fw-bolder fs-4 p-1 text-start">@Model.requests.Count(x => x.Status == 1)</div>
                </div>
                <div class="bottomarrow"></div>
            </button>
        </div>
        <div class="allstatus">
            <button class="nav-link dashboardtab position-relative w-100" id="status-pending" data-bs-toggle="tab" data-bs-target="#s_pending" type="button" role="tab" aria-controls="s_pending" aria-selected="false">
                <div class="pending rounded-4res">
                    <div class="d-flex p-1">
                        <div class="px-2 icons float-start small"><i class="bi bi-plus-circle-dotted"></i></div><div class="small fw-bold">PENDING</div>
                    </div>
                    <div class="fw-bolder fs-4 p-1 text-start">@Model.requests.Count(x => x.Status == 2)</div>
                </div>
                <div class="bottomarrow"></div>
            </button>
        </div>
        <div class="allstatus">
            <button class="nav-link dashboardtab position-relative w-100" id="status-active" data-bs-toggle="tab" data-bs-target="#s_active" type="button" role="tab" aria-controls="s_active" aria-selected="false">
                <div class="activecase rounded-4res">
                    <div class="d-flex p-1">
                        <div class="px-2 icons float-start small"><i class="bi bi-plus-circle-dotted"></i></div><div class="small fw-bold">ACTIVE</div>
                    </div>
                    <div class="fw-bolder fs-4 p-1 text-start">@Model.requests.Count(x => x.Status == 4 || x.Status==5)</div>
                </div>
                <div class="bottomarrow"></div>
            </button>
        </div>
        <div class="allstatus">
            <button class="nav-link dashboardtab position-relative w-100" id="status-conclude" data-bs-toggle="tab" data-bs-target="#s_conclude" type="button" role="tab" aria-controls="s_conclude" aria-selected="false">
                <div class=" conclude rounded-4res">
                    <div class="d-flex p-1">
                        <div class="px-2 icons float-start small"><i class="bi bi-plus-circle-dotted"></i></div><div class="small fw-bold">CONCLUDE</div>
                    </div>
                    <div class="fw-bolder fs-4 p-1 text-start">@Model.requests.Count(x => x.Status == 6)</div>
                </div>
                <div class="bottomarrow"></div>
            </button>
        </div>
        <div class="allstatus">
            <button class="nav-link dashboardtab position-relative w-100" id="status-toclose" data-bs-toggle="tab" data-bs-target="#s_toclose" type="button" role="tab" aria-controls="s_toclose" aria-selected="false">
                <div class="toclose rounded-4res">
                    <div class="d-flex p-1">
                        <div class="px-2 icons float-start small"><i class="bi bi-plus-circle-dotted"></i></div><div class="small fw-bold">TO CLOSE</div>
                    </div>
                    <div class="fw-bolder fs-4 p-1 text-start">@Model.requests.Count(x => x.Status == 3 || x.Status == 7 || x.Status ==8)</div>
                </div>
                <div class="bottomarrow"></div>
            </button>
        </div>
        <div class="allstatus">
            <button class="nav-link dashboardtab position-relative w-100" id="status-unpaid" data-bs-toggle="tab" data-bs-target="#s_unpaid" type="button" role="tab" aria-controls="s_unpaid" aria-selected="false">
                <div class=" unpaid rounded-4res">
                    <div class="d-flex p-1">
                        <div class="px-2 icons  float-start small"><i class="bi bi-plus-circle-dotted"></i></div><div class="small fw-bold">UNPAID</div>
                    </div>
                    <div class="fw-bolder fs-4 p-1 text-start">@Model.requests.Count(x => x.Status == 9)</div>
                </div>
                <div class="bottomarrow"></div>
            </button>
        </div>
    </div>
</nav>

<div class="tab-content">
    <div class="d-flex mt-4 align-items-center justify-content-between">
        <div class="h3size mb-0">Patients<small class="h6size px-2" style="color: #203F9A" id="status_text"></small></div>
        <div class="d-flex">
            <button class="p-2px-3mx-2 text-white bg-info rounded border-info d-flex align-items-center">
                <i class="fa-regular fa-paper-plane  "></i>
                <span class="d-none d-lg-block ps-2">Send Link</span>
            </button>
            <button class="p-2px-3mx-2 text-white bg-info rounded border-info d-flex align-items-center">
                <i class="fa-solid fa-file-pen "></i>
                <span class="d-none d-lg-block ps-2">Create Request</span>
            </button>
            <button class="p-2px-3mx-2 text-white bg-info rounded border-info d-flex align-items-center" id="export">
                <i class="fa-solid fa-share "></i>
                <span class="d-none d-lg-block ps-2">Export</span>
            </button>
            <button class="p-2px-3mx-2 text-white bg-info rounded border-info d-flex align-items-center" id="exportall">
                <i class="fa-solid fa-share-from-square"></i>
                <span class="d-none d-lg-block ps-2">Export All</span>
            </button>
            <button class="p-2px-3mx-2 text-white bg-info rounded border-info d-flex align-items-center">
                <i class="fa-solid fa-user-doctor "></i>
                <span class="d-none d-lg-block ps-2">Request DTY Support</span>
            </button>
        </div>
    </div>
    <div id="status-tabContent" class="bg-white rounded-4 mt-3">
        <div class="rounded-4 bg-white">
            <div class="displayflexorblockwithpad justify-content-between p-2 ">
                <div class="d-flex gap-1 align-items-center searchandregiondropdown">
                    <div><input type="search" placeholder="Search" class="form-control rounded" /></div>
                    <div>
                        <select class="form-select  mb-0 fs-6 form-control drawbyregiondropdown">
                            <option value="1234">All Region</option>
                        </select>
                    </div>
                </div>
                <div class="d-flex align-Models-center">
                    <div class="d-flex rounded d-flex align-items-center ">
                        <input type="radio" name="requestby" id="requestbyAll" class="btn-check" autocomplete="off" />
                        <label class="displayflexorblock btn" for="requestbyAll"><div><i class="fa-solid fa-circle d-block d-sm-none" style="color: #ffffff;"></i></div><span class="ps-2size">All</span></label>
                    </div>
                    <div class="d-flex rounded ">
                        <input type="radio" name="requestby" id="1" class="btn-check" autocomplete="off" />
                        <label class="displayflexorblock btn" for="1"><div><i class="fa-solid fa-circle" style="color: #66bb63;"></i></div><span class="ps-2size">Patient</span></label>
                    </div>
                    <div class="d-flex rounded ">
                        <input type="radio" name="requestby" id="2" class="btn-check" autocomplete="off" />
                        <label class="displayflexorblock btn" for="2"><div><i class="fa-solid fa-circle" style="color: #e59132;"></i></div><span class="ps-2size">Family/Friend</span></label>
                    </div>
                    <div class="d-flex rounded ">
                        <input type="radio" name="requestby" id="3" class="btn-check" autocomplete="off" />
                        <label class="displayflexorblock btn" for="3"><div><i class="fa-solid fa-circle" style="color: #d8697b;"></i></div><span class="ps-2size">Business</span></label>
                    </div>
                    <div class="d-flex rounded ">
                        <input type="radio" name="requestby" id="4" class="btn-check" autocomplete="off" />
                        <label class="displayflexorblock btn" for="4"><div><i class="fa-solid fa-circle" style="color: #077aba;"></i></div><span class="ps-2size">Concierge</span></label>
                    </div>
                    <div class="d-flex rounded ">
                        <input type="radio" name="requestby" id="5" class="btn-check" autocomplete="off" />
                        <label class="displayflexorblock btn" for="5"><div><i class="fa-solid fa-circle" style="color: #9042af;"></i></div><span class="ps-2size">Vip</span></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive" id="dashtables"></div>
    </div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {


        $(document).ready(function () {
            $('.gotoaction').click(function (e) {
                e.preventDefault();
                console.log("clicked");
                var action = $(this).attr('action');
                var id = $(this).closest('form').data('id');

                $.ajax({
                    url: '../Dashboard/' + action,
                    type: 'GET',
                    data: { id: id },
                    success: function (result) {

                        $('#nav-tabContent').html(result);
                    },
                    error: function (xhr, status, error) {
                        console.error('Error: ' + error);
                    },
                });
            });
        });



        $('#dashtables').hide();

        var target1 = localStorage.getItem('target1')
        $('.dashboardtab').on('click', function (e) {
            e.preventDefault();
            $('.dashboardtab').removeClass('active');
            $(this).addClass('active');
            var target1 = $(this).data('bs-target');
            localStorage.setItem('target1', target1);
            var url;
            switch (target1) {
                case '#s_new':
                    $('#status_text').html("(New)")
                    url = '../StatusWiseData/Status_New';
                    break;
                case '#s_pending':
                    $('#status_text').html("(Pending)")
                    url = '../StatusWiseData/Status_Pending';
                    break;
                case '#s_active':
                    $('#status_text').html("(Active)")
                    url = '../StatusWiseData/Status_Active';
                    break;
                case '#s_conclude':
                    $('#status_text').html("(Conclude)")
                    url = '../StatusWiseData/Status_Conclude';
                    break;
                case '#s_toclose':
                    $('#status_text').html("(To Close)")
                    url = '../StatusWiseData/Status_Toclose';
                    break;
                case '#s_unpaid':
                    $('#status_text').html("(Unpaid)")
                    url = '../StatusWiseData/Status_Unpaid';
                    break;

                default:
                    url = '../Home/AdminLogin';
            }

            $.ajax({
                url: url,

                success: function (response) {
                    $('#dashtables').html(response);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        });

        $('.dashboardtab[data-bs-target="' + target1 + '"]').trigger('click');

        if (target1 == null) {
            $('.dashboardtab[data-bs-target="#s_new"]').trigger('click');

        }
        $('#dashtables').show();
    });

    $('#export').on('click', function () {
        var thisstate = $(".dashboardtab.active");
        var statuscollection = thisstate.map(function () {
            return this.id;
        }).get();
        var status = statuscollection[0];
        var link = document.createElement('a');
        link.href = '../Dashboard/Export?status=' + status; 
        link.style.display = 'none'; 
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
    });
    

    $('#exportall').on('click', function () {
        var link = document.createElement('a');
        link.href = '../Dashboard/ExportAll'; 
        link.style.display = 'none'; 
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
    });

        $.ajax({
            url: '../Dashboard/GetRegion',
            success: function (data) {
                var drawbyregiondropdown = $('.drawbyregiondropdown');
                $.each(data, function (index, regions) {
                    drawbyregiondropdown.append($('<option>', {
                        value: regions.name,
                        text: regions.name
                    }))
                });
                console.log(drawbyregiondropdown);
            }
        });

</script>


