@{
    Layout = null;
}
@using DataModels.AdminSideViewModels;
@model RequestNotesViewModel;

<div class="container">
    <div class="d-flex justify-content-between">
        <div class="h3">Notes</div>
        <div>
            <a onclick="location.reload()">
                <button class="d-flex babtn border border-info border-1 rounded align-items-center p-1 px-2">
                    <div class="d-flex"><img src="~/res/back.png" width="15px" height="15px"></div>
                    <div class="px-1"><span>Back</span></div>
                </button>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-6 p-2">
            <div class="bg-white shadow rounded-2 p-3">
                <div class="d-flex">
                    <div class="p-1"><i class="fa-solid fa-right-left" style="font-size : x-large"></i></div>
                    <div class="p-1">
                        <div class="h6 mb-0">Transfer Notes</div>
                        @{
                            var count = 1;
                            <div class="small">
                                @foreach (var note in Model.TransferNotes)
                                {
                                    <span>@count). @note</span>

                                    <br />
                                    count++;
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 p-2">
            <div class="bg-white shadow rounded-2 p-3">
                <div class="d-flex">
                    <div class="p-1"><i class="fa-solid fa-user-doctor" style="font-size : x-large"></i></div>
                    <div class="p-1">
                        <div class="h6 mb-0">Physician Notes</div>
                        <div class="small">
                            @if (Model.PhysicianNotes == null)
                            {
                                <span>-</span>
                            } @Model.PhysicianNotes
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 p-2">
            <div class="bg-white shadow rounded-2 p-3">
                <div class="d-flex">
                    <div class="p-1"><i class="fa-solid fa-user-tie" style="font-size : x-large"></i></div>
                    <div class="p-1">
                        <div class="h6 mb-0">Admin Notes</div>
                        <div class="small">
                            @if (Model.AdminNotes == null)
                            {
                                <span>-</span>
                            } @Model.AdminNotes
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @if (Model.role == "Admin")
        {
            <div class="col-12 p-2">
                <form>
                    <input type="hidden" value="@Model.RequestId" id="hiddenrequestid" />
                    <div class="bg-white shadow rounded-2 p-3">
                        <div class="form-group rounded d-flex align-items-center">
                            <textarea class="form-control" placeholder="" asp-for="@Model.AdminNotes" rows="5" id="AdminNotes"></textarea><span>Admin Notes</span>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="button" id="NoteSaveSubmitButton" class="border-0 bg-info text-white p-2 rounded-3 mt-5">
                                Save Changes
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        }
    </div>
</div>
<script src="~/js/viewnotes.js" asp-append-version="true"></script>
