@{
    Layout = null;
}
@using DataModels.AdminSideViewModels
@model List<EmailSMSLogsViewModel>
<table class="table table-hover" style="vertical-align : middle">
    <thead style="background-color: rgb(235, 235, 235) ; color: black !important ; font :normal!important">
        <tr>
            <th style="width : 10% !important">Recipient</th>
            <th style="width : 10% !important">Action</th>
            <th style="width : 10% !important">Role Name</th>
            <th style="width : 20% !important">Email Id</th>
            <th style="width : 15% !important">Created Date</th>
            <th style="width : 10% !important">Sent Date</th>
            <th style="width : 5% !important">Sent</th>
            <th style="width : 5% !important">Sent Tries</th>
            <th style="width : 15% !important">Confirmation Number</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var i in Model)
{
                <tr>
                    <td>@i.Recipient</td>
                    <td>@i.Action</td>
                    <td>@i.RoleName</td>
                    <td>@i.Email</td>
                    <td>@i.CreatedDate</td>
                    <td>@i.SentDate</td>
                    <td>@i.Sent</td>
                    <td>@i.Senttries</td>
                    <td>@i.ConfirmationNo</td>
                </tr>
}
    </tbody>
</table>