@{
    Layout = null;
}
@using DataModels.AdminSideViewModels;
@model List<AllRequestDataViewModel>


<table class="table newtable restable">
    <thead style="--bs-table-bg: rgb(235, 235, 235)">
        <tr>
            <th class="d-none"></th>
            <th>Name</th>
            <th>Date of Birth</th>
            <th>Region</th>
            <th>Physician Name</th>
            <th>Date of Service</th>
            <th>Address</th>
            <th>Notes</th>
            <th>Chat With</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var color = "";
            @switch (item.RequestType)
            {
                case 1:
                    color = "#66bb63";
                    break;
                case 2:
                    color = "#e59132";
                    break;
                case 3:
                    color = "#d8697b";
                    break;
                case 4:
                    color = "#077aba";
                    break;
                default:
                    color = "#9042af";
                    break;

            }
            <tr style="--bs-table-bg : @color ; --bs-table-color-state : 'white'" class="text-white align-middle">
                <td class="d-none">@item.RequestType</td>
                <td>@item.PatientName</td>
                <td>@item.PatientDOB</td>
                <td>@item.Region</td>
                <td>@item.PhysicainName</td>
                <td>@item.RequestedDate</td>
                <td>@item.Address</td>
                <td>@item.Notes</td>
                <td>
                    <div class="d-flex w-100 justify-content-between">
                        <a asp-route-id="@item.ProviderEmail" style="color : white ;width : 65% " class="m-1">
                            <div class="border border-1 border-white rounded d-flex justify-content-around align-items-center p-1">
                                <i class="fa-solid fa-user-doctor"></i>
                                Provider
                            </div>
                        </a>
                        <a asp-route-id="@item.PatientEmail" style="color : white ;width : 65% " class="m-1">
                            <div class="border border-1 border-white rounded d-flex justify-content-around align-items-center p-1">
                                <i class="fa-solid fa-user-doctor"></i>
                                Patient
                            </div>
                        </a>
                    </div>

                </td>
                <td>
                    <div class="dropstart ms-2">
                        <button class="btn btn-outline-light" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Actions
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item text-secondary" href="#"><i class="bi bi-view-list me-2"></i>View case</a></li>
                            <li><a class="dropdown-item text-secondary" href="#"><i class="bi bi-file-earmark-arrow-up-fill me-2"></i>View Uploads</a></li>
                            <li><a class="dropdown-item text-secondary" href="#"><i class="fa-regular fa-rectangle-list me-2"></i>View Notes</a></li>
                            <li><a class="dropdown-item text-secondary" href="#"><i class="fa-solid fa-suitcase-medical me-2"></i>Orders</a></li>
                            <li><a class="dropdown-item text-secondary" href="#"><i class="fa-regular fa-circle-xmark me-2"></i>Close case</a></li>
                            <li><a class="dropdown-item text-secondary" href="#"><i class="fa-solid fa-book-medical me-2"></i>Doctor Notes</a></li>
                            <li><a class="dropdown-item text-secondary" href="#"><i class="fa-regular fa-circle-xmark me-2"></i>Clear case</a></li>
                            <li><a class="dropdown-item text-secondary" href="#"><i class="fa-solid fa-bell-concierge me-2"></i>Encounter</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        }

    </tbody>
</table>

<table class="table newtable w-100 mt-2 acctable">
    <thead>
        <tr>
            <th class="d-none"></th>
            <th class="d-none"></th>
        </tr>
    </thead>
    <tbody>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            @foreach (var item in Model)
            {
                var color = "";
                @switch (item.RequestType)
                {
                    case 1:
                        color = "#66bb63";
                        break;
                    case 2:
                        color = "#e59132";
                        break;
                    case 3:
                        color = "#d8697b";
                        break;
                    case 4:
                        color = "#077aba";
                        break;
                    default:
                        color = "#9042af";
                        break;

                }
            <tr class="" style="--bs-table-bg:#0dcaf04f">
                <td class="d-none">@item.RequestType</td>
                <td>
                    <form data-id="@item.RequestId">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-heading-@item.RequestId">
                                <button class="accordion-button collapsed d-block" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne-@item.RequestId" aria-expanded="false" aria-controls="flush-collapseOne-@item.RequestId">
                                    <div>
                                        <div class="d-flex p-2 justify-content-between">
                                            <div><span>@item.PatientName</span></div>
                                            <div><span>@item.RequestTypeName(item.RequestType) <i class="fa-solid fa-circle" style="color: @color"></i></span></div>
                                        </div>
                                        <div class="d-flex p-2 justify-content-between">
                                            <div> <span>@item.Address</span></div>
                                            <div class="rounded-3 bg-transparent border border-1 border-info text-info p-1 px-2 small">Map Location</div>
                                        </div>
                                    </div>
                                </button>
                            </h2>
                            <div id="flush-collapseOne-@item.RequestId" class="accordion-collapse mt-3 collapse" aria-labelledby="flush-headingOne-@item.RequestId" data-bs-parent="#accordionFlushExample">
                                <div>
                                    <hr class="m-0 p-0 text-muted" />
                                    <div class="d-flex justify-content-end p-2" style="transform: translateY(-50%);">
                                        <button class="small gotoaction  rounded-pill border-primary text-primary z-3 p-1 px-2  " style="background-color:rgba(255, 255, 255, 0.719);" type="button" action="ViewCase">View Case</button>
                                    </div>
                                </div>
                                <div class="accordion-body small">
                                    <div class="d-flex align-items-center py-1">
                                        <div class="tdsmallicons"><i class="bi bi-calendar-date "></i></div>
                                        <div class="text-muted ps-1">Date of birth: </div>
                                        <div class="ps-1">@item.PatientDOB</div>
                                    </div>
                                    <div class="d-flex align-items-center py-1">
                                        <div class="tdsmallicons"><i class="bi bi-envelope "></i></div>
                                        <div class="text-muted ps-1">Email: </div>
                                        <div class="ps-1">@item.PatientEmail</div>
                                    </div>
                                    <div class="d-flex align-items-center py-1">
                                        <div class="tdsmallicons"><i class="bi bi-telephone "></i></div>
                                        <div class="text-muted ps-1">Patient: </div>
                                        <div class="ps-1">@item.PatientPhone</div>
                                    </div>
                                    <div class="d-flex align-items-center py-1">
                                        <div class="tdsmallicons"><i class="bi bi-person-circle "></i></div>
                                        <div class="text-muted ps-1">Requestor</div>
                                        <div class="ps-1">@item.RequestorName</div>
                                    </div>
                                    <div class="row  mt-4 d-flex flex-wrap">
                                        <div class="col-6 pt-2"><button class="w-100 border-0 rounded-pill px-3 py-1 text-white gotoaction" action="" style="background-color : purple">Assign Case</button></div>
                                        <div class="col-6 pt-2"><button class="w-100 border-0 rounded-pill px-3 py-1 text-white gotoaction" action="" style="background-color : red">Cancle Case</button></div>
                                        <div class="col-6 pt-2"><button class="w-100 border-0 rounded-pill px-3 py-1 text-white gotoaction" action="ViewNotes" style="background-color : green">View Notes</button></div>
                                        <div class="col-6 pt-2"><button class="w-100 border-0 rounded-pill px-3 py-1 text-white gotoaction" action="" style="background-color : red">Block Patient</button></div>
                                        <div class="col-6 pt-2"><button class="w-100 border-0 rounded-pill px-3 py-1 text-white gotoaction" action="" style="background-color : green">Email</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>

            }
        </div>
    </tbody>
</table>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        var table = $('#newtable').DataTable({ dom: 'lrtip' }); // Initialize your DataTable
        $('input[type="search"]').on('keyup', function () {
            table.search(this.value).draw();
        });
        $('input[name="requestby"]').on('change', function () {
            var value = $(this).attr('id');
            console.log(value);
            if (value == 'requestbyAll') {
                table.columns(0).search('').draw();
            }
            else {
                table.columns(0).search(value).draw();
            }
        });

        $(document).ready(function () {
            $('.gotoaction').click(function (e) {
                e.preventDefault();

                var action = $(this).attr('action');
                var id = $(this).closest('form').data('id');

                $.ajax({
                    url: '../Dashboard/' + action,
                    type: 'GET',
                    data: { id: id },
                    success: function (result) {

                        $('#nav-tabContent').html(result);
                    },
                    error: function (xhr, status, error) {
                        console.error('Error: ' + error);
                    },
                });
            });
        });

    });

</script>








